[2016-04-20 11:52] gsimone opened #1 "Readability / Scannability issue"
Hi,
I love this project and I think it would be better / more readable with a bunch of strongs and emphasis around the text ( namely NPCs, bonfires, Items, Covenants, Gestures, etc ).

I'd gladly fork the project and do it myself, if it sounds cool.

Thank you!

[2016-04-20 12:00] ZKjellberg commented on #1
I just pushed up a commit which started adding Hyperlinks to NPCs. (And added Pump-a-rum Crow trade list.)

It will take time to work through the walkthrough to improve the appearance. If you would be willing to help with this, I would greatly appreciate it. Forks are welcomed!

[2016-04-20 12:07] ZKjellberg commented on #1
If you move forward on this, could you please focus primarily on using Hyperlinks? `<strong> & <em>` can help as well, but I think focusing on links for more information on gear and NPCs would help the most.

[2016-04-20 12:18] gsimone commented on #1
Sure, cool. How about something like this?

**[Andre](url) Progress**: Grab [Estus Shard](url) on an altar in the room where you get the [Cell Key](url).

EDIT: of course the actual links would go to fextralife's wiki

[2016-04-20 12:25] ZKjellberg commented on #1
Yup, that would be wonderful to add!

[2016-04-20 12:30] gsimone commented on #1
Great, I'll get on it!

[2016-04-20 12:35] ZKjellberg opened #2 "Mobile Browsers are unable to Add profiles"
The popup for Editing/Adding accounts generates a black overlay when atempting to Add a new profile.

I'll need to look into how to debug this.

[2016-04-20 14:31] ZKjellberg opened #3 "Request to enable collapsing zone sections"

[2016-04-20 14:56] ZKjellberg opened #4 "Missing +1, +2 rings for achievement"

[2016-04-20 15:15] PvtHopscotch opened #5 "Incorrect wiki link on Hornet Ring"
It is currently linked to the the Knight Slayer's Ring http://darksouls3.wiki.fextralife.com/Knight+Slayer's+Ring

Should be
http://darksouls3.wiki.fextralife.com/Hornet+Ring

[2016-04-20 15:20] ZKjellberg opened #6 "Suggestion to split Catacombs into 4 different Zones"
Users are reporting the walkthrough condenses Smouldering Lake, Demon Ruins, and Irythill  into Catacombs section. Was recommended to at least migrate Irythill to its own category.

I have not completed these areas, so I will look into fixing these at a future date, unless others are willing to share their experience.

[2016-04-20 15:22] ZKjellberg commented on #5
Fixed. Thank you!

[2016-04-20 15:22] #5 closed, assigned to nobody

[2016-04-20 15:48] Rejna commented on #4
If noone is working on that, I'm volunteering to add these.

[2016-04-20 15:55] ZKjellberg commented on #6
These zones are split in [the original Gamefaqs guide](http://www.gamefaqs.com/boards/168566-dark-souls-iii/73599466), should be much easier to fix.

I guess I will need to create these sections and start their IDs at 14+

[2016-04-20 15:59] ZKjellberg commented on #1
@gsimone Just a warning. I'm getting a lot of commits for bugfixs and improvements. If you have code to share, I'd appreciate the forks early so I can avoid crazy merges.

[2016-04-20 16:01] ZKjellberg commented on #4
I would welcome the help.

@rmbarley had started [own version of the guide](http://rmbarley.github.io/dark-souls-3-cheat-sheet/) and mentioned he might be able to help with the rings material. Not sure if he started any code, but he might have some to share.

One warning, each Ring has a value **data-id="checklist_5_2"**. Since we are adding rings late and don't want to interrupt exist user progre

[2016-04-20 16:09] PvtHopscotch opened #11 "Incorrect links"
**Gestures**
- Applause: High Wall of Lothric link is to wikidot instead of fextralife wiki. Might not be a mistake but inconsistent.

Current: http://darksouls3.wikidot.com/high-wall-of-lothric
Fix: http://darksouls3.wiki.fextralife.com/High+Wall+of+Lothric

**Sorceries**
- Crystal Hail: Crystal Sage link has extra "+" at end.

Current: http://darksouls3.wiki.fextralife.com/Soul%20of+a+Crystal+Sa

[2016-04-20 16:23] ZKjellberg commented on #11
Fixed. Thanks!

[2016-04-20 16:23] #11 closed, assigned to nobody

[2016-04-20 16:50] ZKjellberg commented on #6
Working this issue now.

[2016-04-20 16:58] ZKjellberg commented on #6
Fixed.

[2016-04-20 16:58] #6 closed, assigned to nobody

[2016-04-20 18:16] djs4000 commented on #3
Hey I have no idea how to use git, but I got collapsible sections working.
[collapsible update.zip](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/files/228549/collapsible.update.zip)

[2016-04-20 18:51] ZKjellberg commented on #3
Hi @djs4000, I saw your [reddit post](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2ae6m6) regarding this implementation. Thanks for taking the time to showcase this.

Without using Git, I will have to manually copy the source code changes line by line. I'd recommend just providing a sample like you did in your Reddit post next time as I've already change

[2016-04-20 18:56] ZKjellberg commented on #3
I'm disappointed that when you _Download ZIP_ GitHub does not provide any .git history, so it is a branch new repository. I guess I could create a new branch and do a **git diff** to merge changes.

Removed sample repo as fork is now available.

[2016-04-20 18:56] djs4000 commented on #3
No worries, do what you think is best, I figured if I wanted a feature I might as well put some effort into getting it done. I'm not a coder by any means, so if it's not properly implemented or causes conflicts, I totally understand. Anyways, keep up the good work and thanks.

[2016-04-20 19:02] ZKjellberg commented on #3
@djs4000 I really do appreciate you putting in the time to showcase the feature. I had no idea Bootstrap had built-in collapse functionality so that is really neat.

I recognize that Git can be challenging, but if you want to contribute to a repository, I suggest reading [this guide on How to Fork a Repo](https://help.github.com/articles/fork-a-repo/). Alternatively, if you can run use the a git c

[2016-04-20 19:02] sethxd commented on #3
I was thinking about this too. I don't think it breaks the TOC, but since everything starts collapsed, pretty much all the header links are visible from the start. Unless I'm missing something.

It definitely helps avoid spoilers, but I also think it would be irritating to for others to have to expand every section one at a time.

Maybe if the page first opened with all sections expanded with an o

[2016-04-20 19:04] djs4000 commented on #3
@sethxd changing the default class from "collapse" to "collapse in" should make them open by default. It should also be relatively easy to make a "show all, collapse all" button

[2016-04-20 19:06] djs4000 commented on #3
@ZKjellberg Thanks, Ill definitely read that guide. I did attempt to fork the project and commit the changes, but I don't think i did it right. It's here: https://github.com/djs4000/dark-souls-3-cheat-sheet

[2016-04-20 19:11] ZKjellberg commented on #3
@sethxd The TOC does work, but it just seems awkward with nowhere to go.

@djs4000 I like the idea of having them all opened by default and having a quick toggle. Since this doesn't save upon reloading, having them all closed by default is a little awkward.

Also, your fork worked. :) [Here is the website hosted from your repo](http://djs4000.github.io/dark-souls-3-cheat-sheet/) You can click the

[2016-04-20 19:19] ZKjellberg opened #13 "NPC Invaders are missing"
The following [NPC Invaders](http://darksouls3.wiki.fextralife.com/Invading+NPC+Phantoms) are missing:
1. Longfinger Kirk from Cathedral of the Deep. Drops: Barbed Straight Sword & Spiked Shield
2. Alva. Just before Irythill Dungeon Bonfire, on the path where you can hear the wind blowing. Drops: Murakumo.
3. Dark Spirit of Londor. Irythill, right after the room with the paintings. Drops: Manikin

[2016-04-20 19:39] djs4000 commented on #3
@ZKjellberg Thanks for everything, I submitted the pull request, though purely for a learning experience. Feel free to not implement this and focus on more important stuff. Now that I'm getting the hang of this, I'll try to at least contribute some content and let someone else more experienced handle this =)

[2016-04-20 19:48] ZKjellberg commented on #3
@djs4000 Thanks. Pull request #14 looks good. This is a great way to showcase the feature. Since many have asked for it, I think this is nice to have on hand. I will be offline for a few days, but when I return, we might be able to merge this in. Thanks! :+1:

[2016-04-21 00:00] Runecreed opened #17 "Collectable items list"
[enhancement]
I'm in the process of adding a section that will hold a reference for every item in the game together with the information as to how to obtain it. Once I've added a decent amount of them I'll do a pull request.
Right now I've made a seperate tab called Collectables but perhaps it's nicer to keep it under Items Checklist, but that one seems dedicated to the achievement items right now

[2016-04-21 01:07] #17 closed, assigned to nobody

[2016-04-21 04:25] #13 closed, assigned to nobody

[2016-04-23 05:46] #4 closed, assigned to nobody

[2016-04-23 15:17] enriquevp opened #21 "Items aren't being striked through anymore"
I took a quick look at the latest merged PRs, but I haven't found anything that messed up with what I previously added. Anyone have any idea what might cause items to not being striked through anymore?

[2016-04-23 16:30] staal opened #22 "Subdivide "All Rings" achievement into NG, NG+ and NG++"
Sorting through the rings is very difficult now you added NG+ and NG++. Perhaps subdivide them?

[2016-04-23 16:32] staal commented on #22
Like this:

# Master of Rings: Acquire all rings [65/107]

## New Game (First playthrough) [65/???]

## NG+ (Second playthrough) [0/???]

## NG++ (Third playthrough) [0/???]

[2016-04-23 17:12] staal commented on #22
I moved the LI's here https://github.com/staal/dark-souls-3-cheat-sheet/blob/gh-pages/index.html (see http://staal.github.io/dark-souls-3-cheat-sheet/#Master_of_Rings). However looking at it, it doesn't seem your JS supports nested counters. So perhaps "just" move them into 3 categories but only count the 107 rings in total still?

[2016-04-23 18:06] ZKjellberg commented on #21
Pull request #20 from @CL4PTP upgraded to Bootstrap 3 and changed some of the CSS and JavaScript. I'm still away from a computer so I can't do much debugging at this time. I'll try to revisit this on Monday.

[2016-04-23 18:08] ZKjellberg commented on #22
Please submit a pull request and I will review when I am back at a computer.

Are all rings split by NG+? I thought some in Dark Souls 2 could be
acquired in NG.
On Apr 23, 2016 20:12, "staal" notifications@github.com wrote:

[2016-04-23 18:11] ZKjellberg commented on #2
Fixed with Pull Request #20

[2016-04-23 18:11] #2 closed, assigned to nobody

[2016-04-23 18:44] staal commented on #22
Done.

[2016-04-23 18:44] #22 closed, assigned to nobody

[2016-04-24 03:22] cjkmpf commented on #21
I just noticed this myself after merging gh-pages branch into my work. I don't have much time, but I'll try to look into it.

**EDIT**: Within PR #20, commit a9d4373f36d5caf042b4107cac1b3e2b97d6224d in main.js line 196 is changed from:

[code]

to:

[code]

which is causing .stroked to now be applied to the wrong element. It now needs to be applied to the label tag.

**EDIT2**: PR #25 fixed this f

[2016-04-24 06:47] ZKjellberg commented on #21
Fixed by @cjkmpf, well done!

[2016-04-24 06:47] #21 closed, assigned to nobody

[2016-04-24 08:09] LaplaceNoMa opened #27 "Crow trade - Loretta's bone lists wrong info"
It lists 'Lightning gem' as the resulting item, which is wrong; the item is traded for ring of sacrifice only.

[2016-04-24 08:11] LaplaceNoMa opened #28 "Call over gesture info"
It says 'Trading him three items will get you the Call Over Gesture'
This is wrong - you get the gesture when doing any trade that results in talking heads (any of the 5 available)

[2016-04-24 13:27] staal commented on #28
Or a homeward bone.

[2016-04-24 19:56] ghost opened #29 "Export to CSV"
I was thinking of making the browser backed storage exportable and importable as a CSV or some other file.  Would there be any interest in this/is this planned?

[2016-04-24 22:08] ghost commented on #29
#30 Implemented something there, let me know what you think.

[2016-04-25 09:08] ZKjellberg commented on #1
@gsimone Any news on this? I realize it is a lot of work, but if you have some progress, I'd be happy to merge it. Otherwise, I might start working through this later this week.

[2016-04-25 09:13] #27 closed, assigned to nobody

[2016-04-25 09:13] ZKjellberg commented on #27
Fixed. Thanks for reporting.

[2016-04-25 09:27] #28 closed, assigned to nobody

[2016-04-25 09:27] ZKjellberg commented on #28
Fixed. Thanks.

[2016-04-25 09:58] ZKjellberg commented on #29
Thanks for contribution.

[2016-04-25 09:58] #29 closed, assigned to nobody

[2016-04-25 18:03] ZKjellberg opened #31 "Suggestion to add a Hide Completed toggle"

[2016-04-26 06:10] ZKjellberg opened #36 "Suggestion to add 'Kill Boss X' for each zone"

[2016-04-26 06:31] #31 closed, assigned to nobody

[2016-04-26 06:36] ZKjellberg opened #37 "Extract Grand Archives & Kiln of the First Flame from Lothric Castle"
Currently Grand Archives & Kiln of the First Flame are in the Lothric Castle section.

[2016-04-26 06:48] #37 closed, assigned to nobody

[2016-04-26 07:13] enriquevp opened #38 "Change the spells achievement section to reflect Tome location"
Even if the tome location is marked on the main checklist, I feel like "buy it from x for y souls" doesn't help anybody find all those spells not obtained through vendors after giving them tomes. Maybe they could also be ordered by tome?

[2016-04-26 07:41] ZKjellberg commented on #38
I planned to add the Tome requirements to all spells [similar to how Fextra lists Requires ... Tome after each spell.](http://darksouls3.wiki.fextralife.com/Pyromancies), but I've been a bit bogged down with new additions. Also, it might get a bit noisy. Definitely worth revisiting to improve.

[2016-04-26 08:50] Rejna opened #39 "Group armor items by sets"
Most of the armors in game are found in sets. Maybe it's worth to reflect this on the list?

[2016-04-26 08:53] Rejna opened #40 "Anchors aren't working?"
When I go out from the Cheat Sheet to other site (e.g. Wiki) and come back, I'm not getting back to where I were and instead I land on the main page. I can see an anchor in the URL but I'm not being taken there.

[2016-04-26 12:15] ZKjellberg commented on #39
@cjkmpf created these sections and it looks good, but is fairly busy and hard to manage with each item spread so far. Could be handy to merge many of them to Sets section to make it easier to track.

[2016-04-26 12:17] ZKjellberg commented on #40
When loading the page, it defaults to a **class="tab-pane active in"**. The URL only saves the div ID for the tab content, not the tab itself, which seems to be why it fails. Not sure how to resolve this.

[2016-04-26 13:28] alidaf opened #41 "Missing Items from Armor/Weapons Tabs"
Missing from cheat sheet for gauntlets.

[2016-04-26 13:31] alidaf commented on #41
Also:
Antiquated Gloves
Jailer Gloves
Grave Warden Wrap
Sellsword Trousers
Antiquated Skirt

[2016-04-26 14:04] rmbarley commented on #40
IMO the most elegant way to handle this is to just set all links to target _blank. I plan on adding the sorting by tome later, I can do that at the same time. I've just been waiting for that collapsible pull request to go through, so my changes would merge ok

[2016-04-26 14:51] cjkmpf commented on #41
Thanks for the heads up! Will add these after work

[2016-04-26 14:54] cjkmpf commented on #39
I'd be more than happy to!

[2016-04-26 16:08] ZKjellberg commented on #3
Implemented in #43. Thanks @djs4000

[2016-04-26 16:08] #3 closed, assigned to nobody

[2016-04-26 16:32] djs4000 opened #45 "Save collapsed state of sections on reload"
With the added collapsible sections functionality, it'd be nice if the sections remembered their state. I found [this example](http://stackoverflow.com/a/11818695) but is probably beyond my level of skill to implement.

[2016-04-26 17:07] Stochast1c commented on #41
Also:

https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2i3zq7

and,

Cathedral Knight Greatshield

In addition, a lot of the weapon and shield categories are out of order with how the game sorts (by default).  If people are willing to wait until the weekend I can probably have a pull request ready that sorts according to in-gaming sorting, minus a few weapon

[2016-04-26 17:17] matheushs opened #47 "Road of Sacrifices showing as [DONE] by Default"
![image](https://cloud.githubusercontent.com/assets/4184938/14827602/8a096b68-0bb9-11e6-8432-86c498e11903.png)

[2016-04-26 17:18] Algent commented on #47
Was going to post this, good thing I checked one last time before sending.

this is probably related to the first entry missing a checkmark.

[2016-04-26 17:30] djs4000 commented on #47
Found it, line 173 in index.html is missing a >

[2016-04-26 18:13] #47 closed, assigned to nobody

[2016-04-26 18:22] ZKjellberg commented on #47
Merged the fix, thanks. Reviewing the [HTML Validator for additional fixes.](https://validator.w3.org/nu/?doc=http%3A%2F%2Fzkjellberg.github.io%2Fdark-souls-3-cheat-sheet%2F)

[2016-04-26 18:37] cjkmpf commented on #39
I've been thinking about this more. In issue #41 @Stochast1c mentioned sorting in the order that the in game inventory sorts. Organizing by set is nice in one regard, but on the other hand, the in game inventory divides the armor by armor type, not by set.

What are thoughts on this?

[2016-04-26 18:40] cjkmpf commented on #41
Thanks for passing that on @Stochast1c. I'll make sure to include those as well.

If you are willing to sort according to in-gaming sorting I think that'd be great. Maybe throw your two cents in on issue #39. It seems some people would like to group by armor set instead of emulating the in game menus, so a decision on that should probably be made first on whether or not we do one, the other, or bo

[2016-04-26 18:59] Stochast1c commented on #39
My argument is that this is a checklist with the primary use case for obtaining all collectables in the game.  If you are looking for a specific weapon, or where a specific set of armor is located a wiki is a far better tool for the job.

Since the game separates out the armor pieces into individual tabs, it makes far more sense to follow along with the game and to sort by in-game sorting so that

[2016-04-26 19:07] ZKjellberg commented on #39
The one issue with that @Stochast1c is we often find an entire set together, so skimming through the list to check off all four pieces frequently seems a bit tedious. Beyond helmets, are there many item sets which drop separately? For example, if you collect all chest pieces, wouldn't that expect you to collect all gloves and boots? (Unless they are sold by a vendor.)

I'm open to both approaches.

[2016-04-26 19:11] theMagicalKarp commented on #39
![](http://i.imgur.com/ePYFz9F.gif)

[2016-04-26 19:15] cjkmpf commented on #41
I'm going to list everything missing that we know of here for the sake of listing them all in one place. I will update it as it is reported here and on the subreddit. Will be able to work on this in a few hours
**Gloves:**
Executioner(sp)
Antiquated Gloves
Jailer Gloves
Grave Warden Wrap
Sellsword Gauntlets
**Helms:**
Executioner(sp)
Sage's Big Hat
**Chests:**
Executioner(sp)
Evangelist Robe
**Leg

[2016-04-26 19:28] Stochast1c commented on #39
I agree, the problem is there is a large amount armor sets that drop off of enemies through individual pieces, and those are the hardest ones to keep track of, in my opinion.  I don't know how the code works for the checklist, but I think the most optimal solution would be to have armor sets linked to each respective piece in the "master armor" checklist.

[2016-04-26 22:32] cjkmpf commented on #41
PR: #49

[2016-04-27 05:55] ZKjellberg commented on #41
Changes have been merged. Thanks @cjkmpf

[2016-04-27 05:55] #41 closed, assigned to nobody

[2016-04-27 06:29] ZKjellberg opened #51 "Add 'Master of Infusion' to Achievement Checklist"
User [RossCowan](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2il84e?context=3) & [jtank_](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2il4wx?context=3) suggested adding a Master of Infusion section to the Achievement Checklist to track progress.

[2016-04-27 07:02] Rejna commented on #51
I'm happy to do it.

[2016-04-27 07:40] Rejna commented on #51
#53

[2016-04-27 09:19] Algent opened #54 "100% Checklist Discussion"
Hi,
About #33 I first want to say I really like the added links in the text, it's really nicer like that. :+1:

But I feel like the other changes it introduced are going in the wrong direction: :confused:
- In my head main page is supposed to be a "checklist" / "cheat-sheet" for NPC quests and major stuff, not a detailed walkthrough of every area. For each zone there is a direct link to the one on

[2016-04-27 16:00] ZKjellberg commented on #51
Merged. Thanks!

[2016-04-27 16:00] #51 closed, assigned to nobody

[2016-04-27 16:05] ZKjellberg commented on #54
[Some other users have reported this.](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2j23q5?context=10000)

I agree it can get a bit noisy, especially as later sections get REALLY busy with actions. Maybe it is best to look into trimming these sections.

@ScottishWolverine I know you've put in work into these sections and I appreciate the work, but we migh

[2016-04-27 16:09] ZKjellberg commented on #54
I see now that @ScottishWolverine sent me a message suggesting the alternative of a separate TAB for the 100% Item checklist. This could be a nice approach to satisfy both interests. Allowing those who want a focused walkthrough and for others who want to confirm they are not missing anything.

For myself, I often clear a zone and then use [Die NooB's 100% videos](https://www.youtube.com/user/xDie

[2016-04-27 19:39] Algent commented on #54
Putting it in another tab could be an option if you really want it. But this will not be fun to maintain and will just end up being a line per line break down of the wiki's walkthrough.

@ZKjellberg
What I suggested is adding the links but keep the list as it was before these changes. With stuff in actual order and only relevant informations.

[2016-04-27 20:01] ScottishWolverine commented on #54
@Algent If people are not wanting the cheat sheet to have an item guide alongside it then we can certainly take it out. I've not done too much so far so it's not major loss at this point. I was just trying to match the format of the two previous cheat sheets (Dark Souls 2 example http://smcnabb.github.io/dark-souls-2-cheat-sheet/). It worked really well for the first two games if you are worried a

[2016-04-28 06:32] ZKjellberg commented on #39
Revisiting this problem. If we want to organize items by the game's sorting, we could move the existing items around. The item checklist ID does not have to be in order, but this could be quite troublesome to track the next ID when adding new items. So, we could change the IDs are simply swap order of HTML lines. I'm open to either. For the checklist, I retained IDs and changed order of appearance

[2016-04-28 06:40] ZKjellberg commented on #54
@ScottishWolverine I do appreciate your work and definitely can relate to the reasoning by your approach as I did enjoy the former guide's approach. As others have said, the detail might be a bit extreme as there are many items which you can miss without much factor on gameplay.

I think the next issue to tackle for the list is adding items of high value and links to wikis for content mentioned. A

[2016-04-28 06:48] ZKjellberg commented on #54
To summarize: I think the biggest benefit would be to add items of interest to the checklist, such as the Claymore near the Dragon at the High Wall and similar gear that individuals might miss or not be aware of that could improve their enjoyment of the game, compared to items such as souls which don't have much of a factor to gameplay.

Again, I welcome a discussion.

[2016-04-28 11:28] Algent commented on #54
@ScottishWolverine Thanks for the link, I didn't know about the one for DS2. As a completionist I think it's cool but 1K entries is a really scary number. If you just want a checklist for quests it's overwhelming.
By the way about the tower key and patches, I checked the DS2 guide and it also doesn't mention stuff at majula before it's actually relevant (like the ladder guy). This should be done t

[2016-04-28 14:02] ScottishWolverine commented on #54
@ZKjellberg Yeah, I think it could get tricky to document some areas to navigate but a reasonable chunk of the game is linear so I'm hopeful there could be a neat solution. If it gets too much I can do my best to condense in existing sections. I would also argue that people who love collecting 100% of items might not be concerned by the depth as they would expect this with a 100% collection guide?

[2016-04-28 15:23] ScottishWolverine commented on #54
https://www.reddit.com/r/darksouls3/comments/4gscat/shoutout_to_the_guy_who_maintains_cheat_sheet/d2ko64i Here's a small section of the latest reddit thread where I've asked for feedback too

[2016-04-28 16:20] chriskempf-wf commented on #39
If we do this we should definitely keep the ids the same and just reorder the HTML.

Say I buy the dancer's set, it is really easy to go to the armor tab, type 'dancer' and have all 4 pieces show up which I can then check. Realizing this convinces me that it would be better to do it the way it is in game. This way I'm free to scroll through my inventory and check off as I go, or I can still filter

[2016-04-28 16:34] ZKjellberg commented on #45
@CL4PTP has implemented this functionality. :+1:

[2016-04-28 16:34] #45 closed, assigned to nobody

[2016-04-28 16:35] ZKjellberg commented on #40
This looks to be fixed now. Please reopen issue if you discover further problems.

[2016-04-28 16:35] #40 closed, assigned to nobody

[2016-04-28 16:44] ZKjellberg commented on #39
As @chriskempf-wf mentioned, the search filter makes it very easy to query and update multiple items with ease. I think this should be an adequate approach to view sets with ease without having to redo the list.

[Two additional items missing: Fire Witch Gauntlets and Leggings.](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2kqou0?context=3)

[2016-04-28 17:13] Algent commented on #54
After looking at the new comments on the thread it confirm some people want a 100% and some want a small list.

I'm going to try to notify someone who seem good with bootstrap since he made some cool pull requests.
@CL4PTP Hi, sorry to disturb you but I need an advice on a idea:
Is it possible to add button/checkbox that would allow us to filter in/out li entries by using class/id ?
If it work thi

[2016-04-28 17:25] SpaceEraser commented on #54
@Algent that's definitely possible. It'd require a bit of Javascript (as opposed to the Bootstrap built in [`collapse.js` plugin](http://getbootstrap.com/javascript/#collapse) which only requires some markup) but it shouldn't be that difficult.

[2016-04-28 17:33] chriskempf-wf commented on #39
Will add those after work. Thanks for letting me know!

[2016-04-28 17:42] ScottishWolverine commented on #54
That's promising that you think there's a solution to this. Out of interest would we code in things like...

"[Estus] Inside the roof pick up the Estus Flask Shard from up in the rafters" so that we toggle the [Estus] part of it?

How do you guys visualize this?

[2016-04-28 19:01] Algent commented on #54
@CL4PTP Thank you for you answer. I assumed it should be possible but I'm really bad at Javascript so I had to ask.

@ZKjellberg Any thoughts on this ?

@ScottishWolverine  In my head it would be something like:
`<li class="quest">Speak to X.</li>`
`<li class="ring">Get that ring here.</li>`
Assuming it does use a class to work.

[2016-04-28 19:03] Dregyn opened #57 "Missing armor set?"
Not sure if I'm just missing it, but I can't seem to find the Fire Witch armor set in the checklist.  Also, for the chest armor "Painting guardian Gown," it is currently listed as Painting Guardian Crown.  Thanks for the amazing cheat sheet.

[2016-04-28 19:10] Dregyn commented on #57
Quick edit to this.  The chest piece and helm of the Fire Witch set are already in the checklist.  It is only the legs and hands that I don't see.

[2016-04-28 19:11] ZKjellberg commented on #57
[I mentioned Fire Witch Gauntlets and Leggings missing here](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/issues/39#issuecomment-215490376) & @chriskempf-wf said he will be adding them soon.

[2016-04-28 19:14] ZKjellberg commented on #54
The idea of adding a filter to toggle is interesting and I like it, though that seems a bit challenging to implement. If we can find a nice approach, it would be a nice addition to please the 100% seekers.

One concern is this might show sections as 5/25 incomplete when people filter out the minor items.

[2016-04-28 19:31] Dregyn commented on #57
sorry I didn't see that before.  Cheers.

[2016-04-29 00:49] rauvagol opened #58 "Weapons and weapon categories out of order."
There is some disorder within weapon categories and in what order the categories are in;

An example would be that in the inventory and equip menu with default sorting, "spear" is seen before "drang twinspears", but on the website it is sorted alphabetically, and also certain categories are misplaced, most obviously that fist weapons should be last in the list of weapons, but are instead listed be

[2016-04-29 06:46] ZKjellberg commented on #58
See Issue #39. We are looking into fixing this in the near future.

[2016-04-29 07:08] alkling opened #59 "Mortician's Ashes"
Slight misinformation on line 11 of Undead Settlement on the checklist:
"_Find Irina and Eygon in front of the tower that can be found a little after the Cliff Underside bonfire, but you'll be unable to reach Irina until you have the Mortician's Ashes_"
You don't need the Moritician's Ashes to get to Irina, you can just jump down the ravine right before the tower entrance and climb up to her throu

[2016-04-29 17:22] Algent commented on #54
I decided to give it a try and made a draft: http://algent.github.io/dark-souls-3-cheat-sheet/ ([commit](https://github.com/Algent/dark-souls-3-cheat-sheet/commit/eb445bbe1b42dbb61a9e47141c1929e457dfca35))
The totals are updated to ignore the hidden entries.

It still need some work:
- Right now if a section is collapsed or you use the "hide completed" it will also no longer be counted.
- The butt

[2016-04-29 17:34] ScottishWolverine commented on #54
Looks like great work @Algent!

I'm not sure what the issue on the first bullet point is exactly. If I ,for example, collect everything but Misc (and uncheck that) in the Cemetery of Ash, then hide completed It is still "DONE" and counted. Am I missing what the problem is?

A floating vertical toolbar is also a nice idea but I wouldn't strain yourself if you are unable to sort this out. Buttons at

[2016-04-30 01:30] Algent commented on #54
@ScottishWolverine
About the first issue, right now it wont count anything hidden even if it's not by the filter. So if you have like 1/15 on Cemetery and "Hide completed" the next time you toggle any filter you will have 0/14.

For the toolbar, ok I'll leave it like that for now. I only did little tweaks to it.

Covenants are fine in the quest line I think too. The keys are a mix of quest and som

[2016-04-30 08:03] ZKjellberg opened #63 "User progress is not synchronized between HTTP/HTTPS URLs"
[Reddit user Wardo89](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2mf0dz) has discovered a bug where the profile system does not synchronize changes between HTTP & HTTPS URLs.

[2016-04-30 08:21] ZKjellberg commented on #59
[Updated](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/commit/6f3f315d838f2f6d92febf2457a96b2b1421155a)

[2016-04-30 08:21] #59 closed, assigned to nobody

[2016-04-30 08:22] firstflame opened #64 "Painting Guardian Gown spelling error"
Painting Guardian Gown is listed as Painting Guardian "Crown" under the chest armor check list.

[2016-04-30 08:23] #57 closed, assigned to nobody

[2016-04-30 08:24] ZKjellberg commented on #57
@MixKCet has added the two armor pieces. I have updated the Gown text. Thanks for reporting. Closed.

[2016-04-30 08:26] ZKjellberg commented on #39
@MixKCet has added the missing Fire Witch items.

As we have decided against merged items into Sets, please move further discussion to #58. If anyone is willing to implement the changes to correct the ordering, please make a comment on #58.

[2016-04-30 08:26] #39 closed, assigned to nobody

[2016-04-30 08:27] ZKjellberg commented on #64
Just fixed this after reading Issue #57. If you discover any other errors, please feel free to open an issue.

[2016-04-30 08:27] #64 closed, assigned to nobody

[2016-04-30 08:29] ZKjellberg commented on #58
I have now closed issue #39 as many users keep reporting this problem.

@cjkmpf or @chriskempf-wf : would either of you be willing to fix this?

[2016-04-30 08:41] ZKjellberg commented on #54
@Algent This is wonderful work. I think this is a fantastic approach as we can satisfy those seeking a 100% guide and easily toggle down the material for those seeking to avoid the noise. I really like how you managed to update the progress status to avoid confusion.

Please open a pull request to track changes and we'll look into a merge soon.

[2016-04-30 09:23] firstflame commented on #64
@ZKjellberg Ahh, I see, sorry bout that. I went through all the issues closed and open just now. And will do opening any others, I'm currently going through all the checklists.

[2016-04-30 13:00] Imperfect-Luck opened #66 "Silvercat Ring"
You might want to add to the playthough checklist, a bit of text about talking to Sirris back at Firelink Shrine after helping her defeat Creighton to receive the Silvercat Ring.

[2016-04-30 14:39] #66 closed, assigned to nobody

[2016-04-30 14:39] ZKjellberg commented on #66
Added to walkthrough

[2016-04-30 15:45] ScottishWolverine commented on #54
Excellent changes! I'll resume work on the 100% checklist now and update later.

[2016-04-30 16:02] cjkmpf commented on #58
Those are both my accounts, I accidentally commented from my work one. I've been traveling for work and should be back this evening, after which I'll be free.

That being said, is there a resource online that lists things in the order they appear in the in game inventory by default? For example, both wikis pick an order that does not match what is in game, and I don't have every weapon and armor i

[2016-04-30 16:05] ZKjellberg opened #67 "Improve wording to warn about Patches spawn trigger in Cathedral"
@sircuddles has suggested we provide a new bullet for Cathedral of the Deep to warn about the trigger for Patches to spawn. I think this is worth adding as my playthrough did not encounter Patches as I visited Rosaria's bonfire. Since this is a really interesting game encounter, I think it is worth adding the warning.

His suggested wording is below:

[2016-04-30 16:14] ZKjellberg commented on #58
Ha, I should've realized similarity in the usernames. No rush to implement this, but it would be a welcome change. :)

Sadly, I do not know of any good resources for the game's ordering of items. I am surprised there isn't any straightforward logic like alphabetical to make it easy to guess the order.

@Rauvagol @Stochast1c As you both requested this feature, do you know of any resources to assist

[2016-04-30 17:42] Algent opened #70 "Bug with counters after #65"
When you check an entry in a non playthrough tab (like a gesture) and go back to the playtrhough, everything is shown as "done" until you refresh the page or toggle an entry.

Bug is probably related to my changes in the calculateTotals function for #65 . I don't know the reason yet.

[2016-04-30 18:38] Stochast1c commented on #58
I don't have any datamined information, but, at least according to the current checklist, I have every shield, all weapons except for Lorian's Greatsword and Man-Grub's Staff, and all armor except for the Londor Pale Shade Set on my character.

If somebody could let me know where those missing items slot in I can have a pull request by tomorrow.  All I need to do to change the sorting is change th

[2016-04-30 18:49] ZKjellberg commented on #58
Correct. You simply cut and paste the items in a different order and the checklist will still function without issue.

For your missing items, we can revisit this issue and apply the corrections later. So to repeat,  the following items ordering is desired:
- Weapons: Lorian's Greatsword and Man-Grub's Staff
- Londor Pale Shade Set

[2016-04-30 19:10] vincent-clipet opened #72 "Consideration for Wikidot"
ATM, all links redirect to http://darksouls3.wiki.fextralife.com/
This wiki is the first result which comes out when typing _wiki dark souls 3_ on Google, but it is wildly known among the community for being quite unreliable, harder to read, having some slow down issues.

It would be great to add a switch in the _Options_ tab that allows choosing between **http://darksouls3.wiki.fextralife.com/**

[2016-04-30 20:38] ZKjellberg opened #73 "Hide Completed/Strikethrough does not reset when switching profiles"
When switching profiles, all checklist items retain their state. This means if I had *\* hide completed*\* enabled when I create a new profile, my other profile's progress will hide various fields.

Additionally, it adds some additional strange behavior related to Issue #70 as the table of contents show the first three zones reset, but the rest as **done**.

See below:
![newprofile](https://cloud.

[2016-04-30 20:39] ZKjellberg commented on #73
Additional screenshot showing the strikethrough not being reset.

![cemetary](https://cloud.githubusercontent.com/assets/143709/14938456/63d1659a-0f24-11e6-992a-0d01110a6639.png)

[2016-04-30 20:43] ZKjellberg commented on #72
To be honest, I've preferred Wikidot in the past, but with Bloodborne it had much less activity. When I started this guide, Wikidot was still a bit immature, so since my source material often came from Fextra, I honored the source. Additionally for consistency sake, we are using the same source for all content so the user isn't confused by frequently switching between sites.

With the recent chang

[2016-04-30 22:18] Stochast1c commented on #58
I finished the Weapon/Shields Sorting #74, will work on armor tab tomorrow if somebody else doesn't post here.

[2016-04-30 22:22] cjkmpf commented on #58
Thanks a bunch @Stochast1c! It's not looking like I'll be home until tomorrow, so I really appreciate it.

[2016-05-01 07:02] ZKjellberg commented on #58
Merged @Stochast1c 's changes. Great work.

[2016-05-01 07:18] #36 closed, assigned to nobody

[2016-05-01 08:54] ZKjellberg commented on #63
So apparently in the HTML5 spec, localStorage can not be transferred from HTTP to HTTPS. Which means there isn't a clean way to resolve this.

[2016-05-01 09:09] Algent commented on #73
To check if it's related to the other issue, can you try commenting out the line 303 in main.js `//continue;`

[2016-05-01 09:53] ZKjellberg commented on #73
By removing the `continue` line, I am no longer seeing the **DONE** for Undead Settlement and beyond.

Still experiencing the issue with the strike-through persisting and hide completed hiding them.

[2016-05-01 10:12] harrison-drift commented on #63
Could potentially _force_ HTTPS to avoid any potential confusion, might be annoying for prior users of the HTTP version.

Something like this maybe?
`if (window.location.host == "zkjellberg.github.io" && window.location.protocol != "https:") {window.location.protocol = "https:"}`

[2016-05-01 11:18] ZKjellberg commented on #63
I expect forcing that would wipe all user progress for anyone who formerly used the HTTP link. Since most of the links shared on Reddit and the Kotaku article were HTTP, this would be a large user-base losing their progress.

[2016-05-01 11:20] harrison-drift commented on #63
Yeah, not ideal at all! [This](http://stackoverflow.com/a/34342471) could be a potential fix after a forced HTTPS however.

[2016-05-01 12:10] Algent commented on #70
Added PR #76 .

[2016-05-01 12:26] ZKjellberg commented on #70
Closing as this looks fixed now. Thanks!

[2016-05-01 12:26] #70 closed, assigned to nobody

[2016-05-01 12:33] Algent opened #77 "[Enhancement] Complete the "Thanks""
Found out with #75 that we have a "Thanks" list in the Help tab.

When someone have time it could be nice to add every people who did PR since the start.
Or maybe replace it by a link to the [contributors ](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/graphs/contributors) page ?

[2016-05-01 12:34] Algent commented on #73
Any improvement after #76  ?

[2016-05-01 12:39] ZKjellberg commented on #73
#76 may have helped improve this, but I am still experiencing problems.

If I load the page with my current profile and switch to a new profile, it will retain the state for all completed items and show them as strike-through (or hide them if that is enabled). If I refresh the page, this will fix the issue.

Curiously, if I load the page with a fresh profile, I can switch between the new profile a

[2016-05-01 12:41] ZKjellberg commented on #73
Ah! @CL4PTP introduced a new **stateKey** which is stored separately from profiles, so when the user  switches profile, that data is not being switched.

[2016-05-01 12:42] ZKjellberg commented on #77
Definitely a good change to be made. I've been meaning to add users but there has been so much activity that I wasn't sure how to approach this as the list will already be huge from reddit posts, Issues, and Pull Requests. I think the Contributors idea is great. Gives recognition for all the wonderful work and doesn't require much maintenance.

[2016-05-01 13:00] Algent commented on #73
For the strike-through it look like the checkbox is properly switched to the saved state but the "stroked" class isn't updated (removed & added) on the labels to reflect the new value.
This look like 2 separate bug.

[2016-05-01 13:11] ZKjellberg commented on #73
Jumping to conclusions too early, thanks for the correction. As you mentioned, it seems to be the issue with the add/removeClass('stroked'). Since this code is within `jQuery(document).ready` which is only called on first boot, I now see a second bug where if we take a fresh profile and switch to an existing profile, the strike-through effect is never shown.

Is there an easy way to apply this str

[2016-05-01 13:23] Algent commented on #73
Isn't it what it's doing right now with the "stroked" class ?
It look like `populateChecklists()` is called when you change profile.  It already iterate to update the checkbox. It need to also grab the child label and add/remove the stroked class depending on the value of `value` .

A dirty fix would be to reload the page on profile switch.

About the "Hide completed" issue, I didn't think of a cl

[2016-05-01 15:42] ZKjellberg commented on #73
Apparently dying over and over in Smoldering Lake has me looking for half-researched solutions. I was thinking the class might be redundant with another we could apply the CSS to.

I was reviewing the code and definitely agree the `populateChecklists()` is the right approach to fix this. My Javascript skills are a bit challenged, so I'm having issues understanding how we'd apply similar code to th

[2016-05-01 16:03] SpaceEraser commented on #73
I'm working on a solution which moves state from JavaScript to the DOM and uses CSS to `display: none` matched stuff. Essentially, instead of adding a `stroked` class to finished items, I surround the item's text with a `<span class="item_content">` and match that in CSS as `input[type="checkbox"]:checked + .item_content` which works alright if you forget about the category filter.

So I'm reworki

[2016-05-01 20:11] ZKjellberg opened #78 "Updating Deacons & Wolnir Boss events in Checklist"
[Reddit user, Dragsooth, suggested we change the location of Deacons and Wolnir](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2ollc3):

For Horace, I do not think we have a bullet point for this, so it would simply be adding a bullet point to kill Horace prior to killing Wolnir.

For Deacons of the Deep, I believe this should be moved to the end of the zo

[2016-05-01 20:15] ZKjellberg opened #79 "Londor Pale Shade missing from summons"
[Reddit user, Dragsooth, suggested the addition of missing Londor Pale Shade summons.](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2ok1hc)

[It appears killing him provides the Manikin Claws](http://darksouls3.wiki.fextralife.com/Londor+Pale+Shade), but the [Pale Shade Set involves angering Yuria and then killing the Pale Shade](http://darksouls3.wiki.fe

[2016-05-01 20:18] ZKjellberg opened #80 "Playthrough Feedback: Dragonslayer, Sirris, Yuria"
[midwaybumblebee had the following feedback](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2or0zm)

[2016-05-01 20:25] ZKjellberg commented on #80
1. Haven't encountered Dragonslayer yet, but [wiki suggests he should be available](http://darksouls3.wiki.fextralife.com/Eygon+of+Carim).
2. [Referring to Sunless Talisman](http://darksouls3.wiki.fextralife.com/Sunless+Talisman), again I am not far enough to confirm its availability or trigger.
   1. [Sunless Talisman is referenced on this line](https://github.com/ZKjellberg/dark-souls-3-cheat-sh

[2016-05-02 07:30] Algent commented on #78
I wanted to ask the same thing. Bosses should be at the bottom unless something there is something to do that cannot be done after.

Killing the deacons before the event with "patches" is calling for trouble. It's already really easy to miss his event.
And for the catacombs it's not only find and/or kill horace before Wolnir but I think you also need to go speak to Anri near the rope bridge.

[2016-05-02 07:59] #77 closed, assigned to nobody

[2016-05-02 08:02] ZKjellberg commented on #77
Updated with your suggestion, thanks.

NOTE: If you want to add a tag like Enhancement, there is a Labels button on the right side.

[2016-05-02 08:15] #67 closed, assigned to nobody

[2016-05-02 08:15] #78 closed, assigned to nobody

[2016-05-02 08:17] ZKjellberg commented on #67
Added the suggested note. @sircuddles If you think this should be positioned differently, I welcome feedback.

[2016-05-02 08:19] ZKjellberg commented on #78
I moved both bosses to the end. Horace was indeed in the checklist, so now users should hopefully handle the Anri events before killing the boss.

I've also included Issue #67 which warns about Patches trigger.

[2016-05-02 08:24] Algent commented on #73
Same for me, to being with I'm a sysadmin not a dev. And I understand java and C# much better than JS. I feel like it's really dirty. Without an IDE to help me the filters would have taken me twice that time to create.

@CL4PTP Nice, thanks you for working on this. It look like you are trying something a bit complicated to fix it but as long as you enjoy doing it it's fine :+1: .

[2016-05-02 08:29] Algent commented on #79
Isn't this already mentioned [here](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/index.html#L289) ? But maybe there is others spawn points.

I did Irithyll yesterday with my new char, he didn't spawn for me since I didn't anger Yuria.

[2016-05-02 08:31] Algent commented on #77
I don't think I had right to change them. It's probably restricted to owner.

[2016-05-02 08:33] ZKjellberg commented on #77
Ah, I guess that is restricted to the owner of the repository. My mistake.

[2016-05-02 08:38] ZKjellberg commented on #79
Looks like you are correct. Thanks for confirming. Closing issue. I added links for Manikin Claws and invader for that line to make it easier to spot.

[2016-05-02 08:40] ZKjellberg opened #81 "Update Favicon for non-Safari devices"
@Harry-Harrison added a Favicon but it currently is only recognized by Safari (and some mobile devices)

Need to update to support desktop browsers.

[2016-05-02 08:41] harrison-drift commented on #81
I'm on it! 👍

[2016-05-02 12:28] ZKjellberg commented on #79
[Dragsooth replied with an update, suggesting there is more work for fixing this issue](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d2pi98h?context=3) so I am reopening it.

[2016-05-02 13:14] Dragsooth commented on #79
I'll compile the information here for anyone looking to add this, since it can be confusing since this is an extremely rare set of armor and weapon. **I want to add that the Pale Shade set does not drop from any of these invasions, it will be found in Yuria/Yoels room in Firelink shrine AFTER these invasions are completed.**

First you want to anger Yuria before going to the Farron Keep bonfire, s

[2016-05-02 18:11] KoleMyers commented on #78
I had positioned the Deacons in the middle since just prior we opened up the final shortcut for the level, and would already be in position to fight the boss, so it seemed more efficent to me. I wasn't aware of any quest breaks for siegward/patches

[2016-05-03 07:43] harrison-drift opened #83 "Filter classes missing from the majority of items"
By no means a quick job, but certainly something worth noting.

Part of me is wondering wether the filter is actually that useful. Maybe if someone was trying to avoid spoilers relating to one of the filter types?

[2016-05-03 07:52] ZKjellberg commented on #83
Many users have asked for a 100% guide to match the historical Dark Souls guides. @ScottishWolverine started work on this implementation in Issue #54 but received pushback from the community as some did not want the extra content.

With @Algent's the implementation of the filtering system, @ScottishWolverine stated he would continue working on the 100% guide (See [Cemetery of Ash](http://zkjellber

[2016-05-03 07:53] ZKjellberg commented on #81
As referenced in Pull Request #82, there seems to be an issue with gh-pages serving a favicon to desktop browsers. This will need to be investigated further.

[2016-05-03 07:54] ZKjellberg commented on #58
@Stochast1c Do you still plan to tackle the armor section?

[2016-05-03 08:04] harrison-drift commented on #83
Ah, very good idea in that case!

[2016-05-03 08:43] Algent commented on #83
I only added them for the first 3 maps yes. I wanted to demonstrate how it work without making this a PR hell for @ScottishWolverine  .

[2016-05-03 08:56] Algent commented on #81
To solve this, simple step could be to to look at some gh-page with working favicon. Like [this one](http://bbc-news.github.io/wraith/).

[2016-05-03 08:58] harrison-drift commented on #81
Noted. Doing a favicon in that method is really not recommended, but if that works I'll look into splitting it up. The resource I fall back to for "best practices" is [this one](https://github.com/audreyr/favicon-cheat-sheet).

[2016-05-03 11:28] vincent-clipet commented on #72
Yes, Wikidot was behind Fextralife when the game was released. But it is improving daily :)
(and some locked pages on Fextralife, like 'Armor Sets', have been totally outdated since the worldwide release, and admins don't seem to care ...)

If this ever gets implemented, I have no problem about creating a full list of correspondance between the 2 wikis. The problem is : how to implement this prope

[2016-05-03 11:36] ZKjellberg commented on #72
If we were to do this, I'd consider to instead fully commit to migrating to Wikidot. If there was enough interest to make the change, I'd be for migrating.

One issue is that @ScottishWolverine is looking into adding a lot of material to create a 100% walkthrough and this would become an even more troubling challenge because he will be adding a lot of web links for items.

I think right now is a b

[2016-05-03 11:52] ZKjellberg commented on #72
This is a fairly signifigant change to consider. Additional thoughts:
1. The userbase is accustomed to using Fextralife
2. Wikidot may have a better interface and is usually more accurate, but many pages have less material. (sometimes small things like missing images)
3. [Wikidot apparently has a worse user experience for mobile?](https://www.reddit.com/r/darksouls3/comments/4hkrvx/hello_i_made_a_

[2016-05-03 13:53] ScottishWolverine commented on #83
Now that I think about it @ZKjellberg , is there anything outside of rings that is new to NG+ and beyond? Should we have a small NG+ filter for the extra rings as they appear or just leave that to the ring checklist?

[2016-05-03 13:57] ScottishWolverine commented on #72
I'll go with whatever the community prefer at the end of the day. If there's a big push to move to Wikidot then I'll update my guide. Sure it might be a little tedious changing the URL links but not an impossible task by any means.

[2016-05-03 16:09] ghost commented on #72
If this is something that's wanted I could do up a script to crawl though the links we have and try to match them to valid URLs on the wikidot.

A lot of the links are similar, it might save someone a bit of time.

e.g.

http://darksouls3.wikidot.com/titanite-shard

http://darksouls3.wiki.fextralife.com/Titanite+Shard

[2016-05-03 17:02] Stochast1c commented on #58
Sorry, I was unexpectedly busy over the weekend, I should be able to finish up the sorting by the end of the day.

[2016-05-03 22:23] SpaceEraser commented on #73
[alright, check it out over here](http://cl4ptp.github.io/dark-souls-3-cheat-sheet/)

I won't create a pull request just yet 'cause I'm 70% sure there are bugs. Test it out a bit and tell me what you think.

[2016-05-04 07:13] ZKjellberg commented on #73
Works great for me. Whenever you feel comfortable with the code, I'd be happy to merge the changes.

[2016-05-04 07:23] ZKjellberg commented on #72
I am really surprised that Wikidot does not offer a mobile interface. That is disappointing.

For now, I think we'll hold off on this game. A quick comparison of Wikidot still shows it lacking in same ways.

For example, view the Gestures page on [Fextralife](http://darksouls3.wiki.fextralife.com/Gestures) compared to [Wikidot](http://darksouls3.wikidot.com/gestures).

There are many additional pa

[2016-05-04 07:25] ZKjellberg commented on #83
Adding a filter for NG+ & NG++ rings is an interesting idea. I am not in NG+ so I am not really aware of any other changes. Something worth considering, but for now I think we should focus on getting filters active for NG content.

[2016-05-04 18:55] Stochast1c commented on #83
The only thing that NG+ changes, afaik, is new rings (also happens in NG++) and either new soul pickups or the replacement of existing soul pickups with higher level ones (I believe the second is what happens).

[2016-05-04 19:00] Stochast1c commented on #58
Finished sorting the armor tab, #84.

Still need the sort position of the items mentioned above (I will be obtaining the man-grub staff very shortly).

[2016-05-04 19:10] Censor88 opened #85 "Hawkwood in Archdragon Peak"
The guide should mention NOT to ring the bell before the Nameless king boss fight if you want to summon Hawkwood and do his quest. If you ring the bell before summoning hawkwood and getting to the twinkling dragon torso stone he will just banish himself as soon as he is summoned into your world and you will not be able to complete his quest line.

[2016-05-04 20:03] ZKjellberg commented on #83
Thanks for confirmation. Bit of a shame NG+ doesn't offer much change. I have heard that they upgrade all the 'Soul of ..' to stronger ones with new names, but I don't think that is worth mentioning in the guide as I assume the NG positions are the same.

So we can look into adding the NG+ rings at a later time with a nice filter category. Thanks.

[2016-05-04 20:07] ZKjellberg commented on #85
I am not at this part of the game yet. So in [Archdragon Peak](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#Archdragon_Peak)

Should this bullet be moved to the end of the list? And should any other bullets have their order changed? It is easy to reorder the bullets.

[2016-05-04 20:16] Censor88 commented on #85
Yes just put that bullet before the one to kill the nameless king.

[2016-05-04 20:21] ZKjellberg commented on #58
Merged. This looked like a lot of tinkering to do, so I appreciate the work. :)

So to rehash, this is now complete except for the following items:
1. Weapons: Lorian's Greatsword and Man-Grub's Staff
2. Londor Pale Shade Set

If anyone has and can advise of their proper order, we can make the final changes and close this issue. :)

[2016-05-04 20:38] ZKjellberg commented on #85
I've made the change you suggested. Please confirm the order matches: [Archdragon Peak](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#Archdragon_Peak)

[2016-05-04 20:41] Algent commented on #85
Actually you can still catch up the quest line if you mess up that part, I was able to get the message from andre and fight him in the  Aybss Watchers room.

[2016-05-04 20:54] ZKjellberg commented on #85
@Algent Isn't this bullet what you refer to?

From the same section

[2016-05-04 20:56] Algent commented on #85
Yes sorry, I saw it like 30sec after posting and edited my post.

[2016-05-04 21:06] ZKjellberg commented on #85
No worries.

@Censor88 When you confirm this change matches your suggested order, I will be closing this issue. Thanks for reporting.

[2016-05-05 17:26] bad-r0bot opened #88 "Anri A quest"
Additional detail: From the Cathedral of the Deep bonfire, go up the first set of stairs and take a right. From there follow the path up the hill.

Small thing but saves people the trouble of searching a lot.

[2016-05-05 17:28] ZKjellberg commented on #73
Looks to be fixed by Pull Request #87 Thanks @CL4PTP

[2016-05-05 18:00] #73 closed, assigned to nobody

[2016-05-05 19:22] #85 closed, assigned to nobody

[2016-05-05 19:28] ZKjellberg commented on #88
I don't see Anri mentioned in the [Cathedral of the Deep section](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#Cathedral_of_the_Deep). Could you provide more information on what is unclear and where the additional directions should be placed?

[2016-05-06 07:45] ZKjellberg commented on #58
Closing this issue. Thanks to @Stochast1c for PR #89 completing this task!

[2016-05-06 07:45] #58 closed, assigned to nobody

[2016-05-06 09:12] ZKjellberg commented on #88
Sorry, could you please provide a little more information? There is a lot of activity related to Anri in that section. Which bullet specifically needs the clarification?

If you want, you can press the **Fork** button, use the web editor to make changes to the HTML line, and submit a **Pull Request** to incorporate this change faster.

[2016-05-06 09:29] ZKjellberg opened #90 "Sub-Bullets do not have Checkboxes"
After merging #86, we discovered sub-bullets are no longer receiving checkboxes and additionally do not gain strikethrough.

@CL4PTP has reviewed the code and while [there were changes made to the sub-bullet checkboxes](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/pull/86#issuecomment-217154235), it should still be working.

[2016-05-06 09:32] ZKjellberg commented on #54
I've merged in @ScottishWolverine PR #86 which adds [High Wall of Lothric](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#High_Wall_of_Lothric). I'd be interested to hear thoughts on his additions and the functionality of the filtering system.

NOTE: There is a bug with sub-bullets not receiving checkboxes which is being investigated. See Issue #90

[2016-05-06 12:58] ScottishWolverine commented on #54
I'm very open to having outside help making sure the 100% guide reads well and covers everything needed. If anyone asks about it on the reddit I'll encourage their help but if you also see people looking to help please ask them to PM me :)

[2016-05-06 13:06] ZKjellberg opened #91 "Tweak Hide Completed"
We moved this when the Settings page was created. I think it should be returned to the homepage as I frequently toggle this on/off and also think it is hard for users to discover it.

Additionally, I wonder if we should change this to a 'Hide Completed' text with a [toggle button](https://bufferwall.com/petersirka/2015-03-12-tutorial-simple-html-toggle-button/) as whenever I read it, I always am a

[2016-05-06 13:15] SpaceEraser commented on #90
[So here's a potential fix](http://cl4ptp.github.io/dark-souls-3-cheat-sheet/)

For the record, I was wrong, and

[code]

does not in fact do the same thing as

[code]

since the former loop of `addCheckbox`s clobbers the DOM elements corresponding to sublists. That is, `addCheckbox` takes the element's HTML, modifies only the first line, the reinserts all lines, thereby creating whole new DOM ele

[2016-05-06 13:28] ZKjellberg commented on #90
Interesting. Thanks for fixing with PR #92

[2016-05-06 13:28] #90 closed, assigned to nobody

[2016-05-06 13:29] ZKjellberg commented on #54
Definitely will. I've been trying to redirect them to you with their feedback. This is why I wanted to add High Wall of Lothric early to gauge reactions and also show that zones are being added in stages, allowing others to participate and not conflict on work.

[2016-05-06 13:38] Algent commented on #73
Awesome. Really interesting changes to read. Thanks :+1:

[2016-05-06 13:50] Algent commented on #91
About the toggle, I'm pretty sure there is a toggle effect right now. Maybe add the same "eye" than for the filters.
I think too it's a bit too hidden right now. Maybe we should look into a floating buttons div on a side (that expand on hover).

Some stuff could be moved around:
- The "The following is a checklist"... text block on every page could be moved on the information page.
- The spoiler w

[2016-05-06 15:41] ZKjellberg commented on #88
Please merge the changes onto your repository's **gh-pages** branch and then [open a Pull Request ](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/pulls) so I can review the changes. Having code on the gh-pages branch allows me to preview the rendered website.

[2016-05-06 15:49] ZKjellberg commented on #88
Changes merged! Thanks for contribution. :+1:

[2016-05-06 15:49] #88 closed, assigned to nobody

[2016-05-06 16:01] ZKjellberg commented on #91
Adopting the same UI as the filter togglers would work well. That way it can be static **Hide Completed** text with the eye icon toggle. Compared to the button changing text which is a little awkward.

I do like the idea of attaching it to the floating **Back up to Top**, though users wouldn't see it until they've scrolled a little bit.

I do agree the top intro could be tweaked down as it takes a

[2016-05-08 03:37] Seeker14491 opened #94 "Call Over gesture"
The checklist says "Trade any possible item with Pickle-Pee, Pump-a-Rum crow to receive the Call Over gesture". This appears to be incorrect; I didn't get the gesture until my second trade. I traded in a Firebomb first, followed by a Homeward Bone.

A related issue: #28

[2016-05-08 15:34] ZKjellberg opened #95 "Printing Page results in weird formatting"
Many users have asked to be able to print the guide, but currently if you try to print, all URLs are shown in parenthesis. I am not sure why this occurs.

[2016-05-08 16:06] ZKjellberg commented on #94
This gesture has confused me as many report differently. I originally had this as Homeward bone which both wiki's state. Others state it can also be received with any carvings. I may revert this to Homeward Bone when I return from travel at the end of the week. If anyone can confirm the carvings, I'll add that as well.

[2016-05-09 13:43] samueldcorbin opened #96 "Prayer Gesture"
The checklist says "Return to Firelink Shrine and talk to Irina (Receive Prayer Gesture)".

Irina gives you the Prayer gesture when you talk to her and get her to move to Firelink, you don't need to go back to Firelink and talk to her to get it.

[2016-05-09 13:45] samueldcorbin opened #97 "Holy Knight Hodrick Invasion"
The Holy Knight Hodrick invasion in Undead Settlement is missing. He invades right next to Dilapidated Bridge and drops a Vertebra Shackle.

[2016-05-09 14:23] Max9403 opened #98 "Typo in High Wall of Lothric"
guessing it should be go not ho

[2016-05-09 19:32] ZKjellberg commented on #96
Thanks for reporting. I'll fix this when I'm home at end of week.

[2016-05-10 23:09] Seriallol opened #99 "Missing Hollow's Ashes"
The Playthrough Checklist is missing the Hollow's Ashes, it can be found at the firelink shrine in the untended graves, its where Yoel/Yuria would be in the normal shrine.

[2016-05-13 11:00] dairou3000 opened #101 "Starting Sirris' questline"
She showed up in Firelink for me after resting at the Halfway Fortress in Road of Sacrifces.

Thanks for the great checklist!

[2016-05-13 14:15] #98 closed, assigned to nobody

[2016-05-13 14:15] ZKjellberg commented on #98
Fixed. Thanks for reporting.

[2016-05-13 14:21] #96 closed, assigned to nobody

[2016-05-13 14:22] ZKjellberg commented on #96
Fixed. Thanks for reporting.

[2016-05-13 20:09] #94 closed, assigned to nobody

[2016-05-13 20:10] ZKjellberg commented on #94
I've corrected the walkthrough and Gesture page to both state it is available by trading a Homeward bone.

Thanks for reporting.

[2016-05-13 20:23] ZKjellberg commented on #99
You are suggesting I add a bullet to **Unintended Graves** for [Hollow's Ashes](http://darksouls3.wiki.fextralife.com/Hollow's+Ashes)

From the wiki:

I'll look into cleaning up wording and adding this shortly.

[2016-05-13 20:28] ZKjellberg commented on #101
Currently I have the following bullet at the start of the [Cathedral of the Deep](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#Cathedral_of_the_Deep)

You are suggesting I move this to Halfway Fortress. I currently use the id of **playthrough_5_1** which means I need a new 5_1 item, otherwise I will break that section. I tried to move her to the start of the zone as an easier fix.

The tr

[2016-05-13 20:30] ZKjellberg commented on #97
[Holy Knight Hodrick](http://darksouls3.wiki.fextralife.com/Holy+Knight+Hodrick) is missing from [Undead Settlement section](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#Undead_Settlement). I'll look into adding this soon.

[2016-05-13 21:05] ZKjellberg opened #102 "NG+ Walkthrough Requests"
Receiving multiple requests related to NG+.
1. Request to add NG+ rings to walk-through.
   1. Adding new filter classes such as **NG+** & **NG++** would make be the best approach to add items.
2. Request for a button toreset the main walkthrough status for when the user starts NG+ and desires to restart the checklist, but retain their Achievement/Item status.

[2016-05-13 21:18] ZKjellberg opened #103 "Collapse State persists when switching profiles"
When switching to a different profile, the collapse state of all items persists. This is troublesome as my primary profile has completed most of the zones, yet my new profile which has no progress will have all the zones collapsed. This looks to be a problem caused by the separate key used for storing the collapse state. If we merged these values into the **profilesKey**, that should solve this.

[2016-05-13 21:19] ZKjellberg commented on #103
@CL4PTP Do you think it would be problematic to merge these the stored values of **stateKey** into **profilesKey** to solve this?

[2016-05-13 21:29] SpaceEraser commented on #103
It's definitely possible. I used `stateKey` specifically to store page state independent of `profileState`, but noted in the commit message that it may not be preferable. The only caveat is that unless I do something especially fancy, everyone's page state will be reset after the update.

I'll take a look at it soon, life stuff came up recently but I'll have time in the near future to make this ch

[2016-05-14 12:24] ZKjellberg commented on #91
Revisiting this issue now that I'm back. The first step I'd like to implement is the new Glyphicon toggles.

As a first glance, the code to be changed will be the button implemented on [Line 1581 in index.html](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/index.html#L1581) and the corresponding toggle code on [Line 207 in main.js](https://github.com/ZKjellberg/dark-souls-3-

[2016-05-14 12:32] ZKjellberg commented on #103
Ah, I didn't notice the commit message. I am fine with resetting user status as it shouldn't disturb too much.

No pressure, I just wanted to ask your opinion as I might try to tackle this later on. These aren't big bugs so there isn't an urgency to fix, but your help has been wonderful and I appreciate the expertise helping implement these efficiently. :)

[2016-05-15 15:13] ZKjellberg commented on #81
Hm....reviewing @alanyee Pull Request #105 I see his [gh-page preview](http://alanyee.github.io/dark-souls-3-cheat-sheet/) has a working favicon. It seems that the code with
`<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">`
Is linking to the root of the website and loading his http://alanyee.github.io favicon. I think the issue was the **/** was redirecting to the root of the w

[2016-05-16 08:51] #1 closed, assigned to nobody

[2016-05-16 08:51] #63 closed, assigned to nobody

[2016-05-16 09:24] #81 closed, assigned to nobody

[2016-05-16 09:31] ZKjellberg commented on #81
I've moved all assets to the **img/** folder. This issue looks to now be fixed after removing the / prefix.

I am now closing this issue. If there is a suggested improvement, I welcome it.

[2016-05-16 10:47] Dragsooth commented on #102
I was about to request the exact same thing myself.

[2016-05-19 19:19] ZKjellberg commented on #97
Added thanks to @alanyee 's PR #108

[2016-05-19 19:19] #97 closed, assigned to nobody

[2016-05-20 06:27] ZKjellberg commented on #102
@alanyee has shared his feedback on this request in PR #109

Due to the various changes, this sounds more challenging than originally assumed.

[2016-05-20 06:32] ZKjellberg opened #112 "Update readme with wording formatting advise"
@alanyee has mentioned in PR #109 the need for documentation to be added to the readme highlighting how to add new elements to the list and a description on how the filter system works.
1. Add Introduction for how Checklist is written **data-id** & **class** for each bullet, including order for bullets
2. Explain the filter class system and define each class's purpose
3. Add a quick paragraph expl

[2016-05-20 06:47] ZKjellberg commented on #102
As @alanyee suggested, a new Tab might be a worthwhile approach. If we can at least document all the items and their locations, it would help better understand how to integrate the changes. Do the new souls replace the originals or are they located in new areas? If they are all new locations, then using the filter class might work.

[2016-05-20 06:53] ZKjellberg opened #113 "Tweak Filter Categories"
In PR #109, we have been discussing tweaking the existing filter categories. Below are the highlights from the discussion.
### Suggested changes
1. Quest **f_quest** to track game progression such as bosses, bonfires & shortcuts
2. **f_npc** to track side-quests _New_
3. Merge **f_wpn** & **f_armor** into **f_gear**?
4. **f_spells** for all magic _New_
### Unchanged Categories
1. **f_estus** for E

[2016-05-20 07:04] ZKjellberg opened #114 "100% Checklist - Zone Status (6/19)"
In Issue #54, we discussed the approach to implementing a 100% checklist. As this has changed radically with many changes, I am migrating discussion to a new Issue to highlight our current status.

@Algent has implemented a wonderful filtering system in PR #65 to allow us to add new content and allow users to prioritize the content.

Thanks to @ScottishWolverine for completing the first three zone

[2016-05-20 07:04] ZKjellberg commented on #54
Closing this issue to migrate discussion to the new Issue

[2016-05-20 07:04] #54 closed, assigned to nobody

[2016-05-20 07:06] ZKjellberg commented on #114
As we move forward revamping zones, we also need to explore updating adding the appropiate classes to support @Algent's filtering system. In Issue #113, I am exploring tweaking the categories.

[2016-05-20 07:13] ZKjellberg commented on #113
Prior feedback from @alanyee

And my thoughts on the matter

@alanyee suggested splitting Quest into two categories: **f_progress** and **f_quest**. Allowing the user to toggle off the main quest and the sidequests. The main quest **f_progress** would focus on tasks such as keys, bosses, and other required events, while **f_quest** would focus on optional content such as NPC sidequests.

Updating

[2016-05-20 07:18] ZKjellberg commented on #112
@alanyee Could you expand on your feedback for the need for a style guide? I don't understand.

In issue #113 I'm documenting the filters which should help when I migrate this into the Readme. Thanks for the recommendation.

[2016-05-20 07:28] ZKjellberg commented on #80
Updating information.
1. Add [Eygon of Carim](http://darksouls3.wiki.fextralife.com/Eygon+of+Carim) to Lothric Castle as a summon for boss fight
1. Add Sirris quest end items to Grand Archives after boss fight
1. Grand Archives: [Orbeck's Ashes](http://darksouls3.wiki.fextralife.com/Orbeck's+Ashes) Validate this can be given to Yuria for Morion Blade

Note: I removed the Greirat feedback as the pa

[2016-05-20 08:24] #38 closed, assigned to nobody

[2016-05-20 08:26] ZKjellberg commented on #38
I've added a note to all spells with their related required Tomes. Closing issue.

[2016-05-20 08:33] ZKjellberg commented on #95
If the user highlights the desired sections and enabled 'Print selection', this is resolved. Still a very strange bug, but I am closing this.

[2016-05-20 08:33] #95 closed, assigned to nobody

[2016-05-20 08:42] #99 closed, assigned to nobody

[2016-05-20 08:42] ZKjellberg commented on #99
Added to walkthrough. Thanks for reporting.

[2016-05-20 08:49] #101 closed, assigned to nobody

[2016-05-20 08:49] ZKjellberg commented on #101
Fixed. Thanks for reporting.

[2016-05-20 17:12] alanyee commented on #102
So far, I think new souls replace the originals.

[2016-05-20 17:21] alanyee commented on #112
A style guide for writing the guide. Before I edited anything, I noticed some items were written like:
"(Receive Hurrah! Gesture)". So I wrote that for a while until I realized that the entire checklist did not share that style. (Eventually, that phrasing was removed.) As a checklist, the English syntax should be similar for similar phrases and items. For instance, the checklist has some future te

[2016-05-20 17:23] alanyee commented on #113
I think we might need to categorize shortcuts and bonfires especially since those reset with each new game plus. But I do agree that having too many categories would be a problem.

[2016-05-20 17:45] ZKjellberg commented on #102
So if we were to add new items with the NG+ class, we could state "For NG+, Soul of Proud Paladin replaces ... Soul"? A possible approach to explore down the road.

[2016-05-20 17:53] ZKjellberg commented on #112
Ah, I understand. This is because the foundation of the guide is from [DeathGodGaara](http://www.gamefaqs.com/boards/168566-dark-souls-iii/73599466). I dislike the (Receive ...) so I was slowly tweaking the guide to remove this, but once I noticed you adding more, I decided to eliminate all to prevent confusion.

As I added new bullets and @ScottishWolverine started the revamp, there is always a c

[2016-05-20 17:56] ZKjellberg commented on #113
Wouldn't everything in the walkthrough reset for NG+ so bonfire and similar progress wouldn't change? For now, I think we should just use **f_progress** bonfire & shortcut though a speedrunner would disagree. It would prevent adding more categories. I'd like to figure out a better name for that category.

I've updated the parent comment with a summary of current filter categories and suggested cha

[2016-05-20 18:03] ZKjellberg commented on #112
Additionally, for wording I think that it might be better to place the **class=** after the **data-id** for readability of item #. This would mean tweaking many of the current lines and increase likelihood of merge conflicts, so I wont do this until I confirm it is appropriate and complete it quick to prevent conflicts..

[2016-05-20 18:05] ZKjellberg commented on #112
One more note! Considering you both @alanyee & @ScottishWolverine did not use DeathGodGaara's style of the prefix like **Andre Progress**, if it is agreed, I could remove the many prefixes tomorrow to clean up the appearance.

[2016-05-20 22:14] alanyee commented on #112
I think changing the order of class= and data-id would help along with removing the prefix.

[2016-05-20 22:25] alanyee commented on #114
@ScottishWolverine: I think I will be very busy from now on. So to did what I did for Undead Settlement,  I cannot do for the next 3 weeks. Instead, I will probably make daily pull requests for minor corrections. So feel free to tackle whatever zone you want to tackle.

[2016-05-20 22:43] alanyee commented on #102
And some items would need to disappear such as Ashen Estus Flask does not show up at the beginning of new game plus.

[2016-05-21 10:29] ZKjellberg commented on #112
I will be updating the order and removing prefixes within the next few hours, so expect a large commit update shortly. A warning in case someone might be working on a fork.

[2016-05-21 11:10] ZKjellberg commented on #91
@Algent I started working on your feedback. I tweaked the intro to be smaller and considered removing intro line. (Which I might still do.)

I considered moving the Title back to the navbar, which might make sense if I merge Weapon/Armor into one Tab to have room.

[2016-05-21 11:16] ZKjellberg commented on #91
Okay Intro is gone.

I'll be looking into changing the **Toggle Completed** button to use the filter styling.

[2016-05-21 11:18] ZKjellberg commented on #112
I've pushed up changes starting to tackle this. All Andre Progress prefixes have been removed. Additionally, I updated the order for all filter classes to be after the checklist ID.

Still more prefixes to be removed & README to update.

[2016-05-22 18:30] Pyyric opened #116 "Number bone shards and estus shards through the guide"
Sometimes I do things out of order and get all confused if I've gotten all the shards. It'd be nice if each estus shard said "2nd, 3rd, 4th" and each bone shard said (current total +1, +2, +3.)

[2016-05-23 06:30] ZKjellberg commented on #116
While I can appreciate the reasoning for this, I will not be implementing the change currently. If someone grabs estus shards or bone shards out of order, then it will not match.

You can currently use the filtering system to validate which you have picked up and determine whether you need to revisit an area.

[2016-05-23 06:30] #116 closed, assigned to nobody

[2016-05-25 20:58] ZKjellberg opened #117 "Add Weapons/Armor Location descriptions"
The Weapons & Armor Tabs are currently missing descriptions for their locations.

[2016-05-26 10:40] ZKjellberg opened #118 "Merge Armor/Weapons Tabs? Add Collapse to Table of Contents"
I am considering merging the Armor and Weapons Tabs and adding the Collapse function to the (Weapons, Shields) Categories

[2016-05-26 15:07] ZKjellberg commented on #91
I moved Hide Completed back to the top of the page. Wondering if there is a better way to make it accessible. Possibly add to the Back to Top style hover.

Also still need to switch to the new Glyphicon toggle.

[2016-05-26 20:30] ghost commented on #72
I prefer Wikidot usually, but I do agree with the criticisms and think Fextralife should be the default. A possible solution would be to include the Wikidot link as well, along the lines of:

"From the start head right at the first turn and pick up the [Soul of a Deserted Corpse](http://darksouls3.wiki.fextralife.com/Soul+of+a+Deserted+Corpse) [[Wikidot](http://darksouls3.wikidot.com/soul-of-a-des

[2016-05-26 20:39] ghost opened #119 "Nested Lists"
Any reason for not using nested lists? I think it would help with readability. I don't mind doing some or all of the work myself as long as there's no technical issue here.

[2016-05-26 20:43] ghost opened #120 "Full Achievement Checklist"
For completeness sake, I think it's a good idea to have info for completing every achievement, not just the more complex ones. I know it's a bit silly for things like beating mandatory bosses, visiting mandatory areas, and finding covenants, but adding in a few more sections and lines for these don't hurt. I don't mind doing the work.

[2016-05-26 21:14] ZKjellberg commented on #120
I definitely think there is value in adding this. Which Tab would you think of adding to?

[2016-05-26 21:18] ZKjellberg commented on #119
I'm not sure I understand what you are suggesting.

Are you suggesting making the Zones a checklist item and having [sub-lists like the vendor in Majula on the Dark Souls 2 list](http://smcnabb.github.io/dark-souls-2-cheat-sheet/#Majula)?

[2016-05-26 22:11] ZKjellberg commented on #72
This is an interesting idea. The guide is still missing a lot of links so it'll be getting more complicated in the future as more links and content is added. I like the idea of the JSON toggle, but I am curious how you'd implement that type of reference. Would all links be converted to div classes and you'd have a JSON file with both destination URLs?

My main worry is the guide has already gotten

[2016-06-01 15:27] Algent commented on #91
Nice :+1:

I'm sorry I'm not answering to your notifications lately. I've been busy at work and when I come home I'm usually only motivated to play games.

[2016-06-02 02:59] TKGP opened #121 "Option to hide complete subcategories"
Because this is a bit annoying:
![ss 2016-06-01 at 10 58 16](https://cloud.githubusercontent.com/assets/9778200/15732578/5c7de020-284c-11e6-8c14-74915ac021cc.png)

[2016-06-02 09:07] ZKjellberg commented on #121
Definitely agree this is a problem. Weapons is the only tab which features h4 Headers, but this could be a similar challenge for hiding DONE zones on the walkthrough.

I first noticed this problem primarily when I would use the filtering system to search for items and have to scroll through the many empty headers. One idea for that would be to hide all h4 headers when searching. @sethxd implemente

[2016-06-02 09:10] ZKjellberg commented on #91
No worries. I've been similarly bogged down and inactive. (Barely progressing in Dark Souls, mostly because when I have time, I've found leveling covenants is far too fun and Aldrich is miserable.)

I started integrating your recommendations and hope to continue making progress soon. I always welcome the feedback so I can tweak the approach.

[2016-06-06 07:28] ZKjellberg commented on #119
@Wolfie Could you please share more information on your suggestion? I'm interested to know more.

[2016-06-06 07:31] ZKjellberg commented on #112
I've gone through and remove all \* Progress text except for the Anri splitting paths which should help the appearance. I forgot to reference this issue with the latest commits so you wont see them referenced.

Looking to add the Style guide to the README soon. Thanks again for the feedback.

[2016-06-06 07:44] ZKjellberg commented on #120
Updating this. Here are all of the relevant achievements that are missing. I could see adding them to the Achievement Tab with the following sections. I am also considering adding a Covenant Rank section to the Misc Tab as it is nice to track status for rewards, especially as some provide items like Rings for achievements.

**ENDINGS**
1. **To Link the First Flame** Reach "To Link the First Flame"

[2016-06-06 08:49] #112 closed, assigned to nobody

[2016-06-06 08:50] ZKjellberg commented on #112
I've updated the readme with background information you recommended. Thanks for the feedback.

[2016-06-08 09:16] ZKjellberg commented on #113
I've tweaked the first post of this issue to highlight my suggested changes. I'm a bit busy currently, but I'd like to revisit this issue maybe this weekend. I'd be interested to hear feedback from @alanyee & @Algent about the changes.

The main focus would be adding **f_npc** for all sidequests, including merchant items and add **f_spells**. After adding those two, I am considering creating **f_g

[2016-06-09 10:56] ZKjellberg commented on #113
@Algent Just to confirm with you before I move forward with changes. To remove and add categories, the main functionality is through this line:

`<input type="checkbox" id="togglefilter_weapon" data-item-toggle="f_wpn" />`

So I would need to add the new **data-item-toggle** filter category. Additionally, I should initialize the value for the **stateStorage** (line 43 of main.js) to false for any

[2016-06-09 13:21] ZKjellberg commented on #119
I am closing this issue. Please re-open if you have more information.

[2016-06-09 13:21] #119 closed, assigned to nobody

[2016-06-09 13:24] ZKjellberg commented on #117
The intent is to create descriptions similar to the Achievement location details.
![sample](https://cloud.githubusercontent.com/assets/143709/15931056/44f495e2-2e56-11e6-9b8f-584312abe6d2.png)

[2016-06-09 13:33] ZKjellberg commented on #113
One additional note. My original idea for **f_misc** was to make it for misc items, like souls, arrows, etc. Instead, this seems to be the filter used for any task that is does not fall into the other categories. I'm wondering if this should be changed. Does every item need a filter? I guess so if you only want to see weapons.

The problem is that I might not care about souls & arrows, but I still

[2016-06-14 16:19] lexavian opened #124 "Suggestion: Print-View?"
A couple things. First I wanted to say thank you so much for this checklist! It has been very helpful these past couple days as I try to gather everything before moving on to NG+. I even made this account for the sole purpose of this comment.

My first major suggestion would be a nice print-view that would allow for easy printing? I'd like to take it to my friends house without having to borrow a

[2016-06-14 20:15] ZKjellberg commented on #124
Thanks for the feedback.

For the print view, I don't know why it shows the links. I opened issue #95 to highlight this. If you'd like to print the data, you can highlight the zones and select Print Selection in Chrome or similar and it should print correctly.

For your recommendation, I am looking into improving the filter system in issue #113. The focus is to add a category for side quests. This

[2016-06-29 16:31] alanyee commented on #113
I think I might have some free time now. Are the categories and/or filters finalized now?

[2016-06-29 19:49] ZKjellberg commented on #113
Welcome back Alan. I was waiting for feedback before moving forward with these changes. If you agree with my approach, I'd be happy to move forward with the changes.

I was planning to add the new fields but was hoping @Algent could confirm my understanding was correct before I did so. I might try playing with them this weekend to test functionality before committing to the big revamp.

[2016-06-29 20:35] alanyee commented on #113
Since we should have a low number of filters, I think f_misc should be used for lower-priority things (i.e. souls, arrows, etc.) especially if they do not contribute to any achievement hunting. **f_gear** is a good choice for weapons and armor.

So I guess all miracles, sorceries, and pyromancies go into **f_spells**? Where would covenants and gestures go into? I think they can either go into **f_

[2016-06-30 06:45] ZKjellberg commented on #113
I agree that **f_misc** should be used for various items that can be ignored. To match this, I was thinking of moving the Bonfire & Enter Firelink tasks in the first section to **f_quest** as actions such as these help progress the game.

I would expect Covenants would go into **f_npc** since they usually involve an NPC. Similarly most gestures come from NPCs, but maybe we should consider an alter

[2016-06-30 08:09] Algent commented on #113
Yep, add a whole "<label class="btn btn-default">" bloc for the button and add the value at false in stateStorage.hidden_categories.

[2016-06-30 12:12] ZKjellberg commented on #113
Thanks Algent for confirming. I'll be starting these changes this weekend.

[2016-07-02 21:37] ZKjellberg commented on #113
Finally got around to starting this transition. Thanks to Algent for confirmation so I wasn't going to ruin the filters. ;) I've pushed up two commits adding the new **f_spell** category and will look into adding more tomorrow.

Any thoughts on the name for the sidequest filter category? **f_side** or **f_npc**? Alternatively, repurposing **f_quest** for sidequests and instead introduce a new cate

[2016-07-02 21:41] ZKjellberg commented on #124
Closing this issue unless there is more work to be done. I don't have a good solution for a print-view beyond suggesting people to use **print selection** which renders fine.

[2016-07-02 21:41] #124 closed, assigned to nobody

[2016-07-02 23:44] alanyee commented on #113
I rather go for **f_quest**. Simplifying things seem to be the way to go.

[2016-07-03 14:09] ZKjellberg commented on #113
Alan, I don't understand. Are you saying you support the idea of **f_quest** for sidequests and introducing **f_progress** for core gameplay?

[2016-07-03 14:58] ZKjellberg commented on #124
Just by random chance, I stumbled upon the reason why URLs were being printed. I've pushed up code to improve the appearance. There is a [CSS rule for the print-view located in the main.css](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/css/main.css#L14) file. If you have suggestions on how you'd like it rendered for printing, this is the area I could implement the changes.

[2016-07-03 16:03] ZKjellberg commented on #113
Two more updates for this. I've added **f_spell** for scrolls, tomes, and spells. (A few sidequests I didn't tag until we introduce the sidequest filter)

I've also merged f_wpn & f_armor into **f_gear**.

[2016-07-03 20:33] alanyee commented on #113
Nevermind, I support the suggested change for side quests to be named under **f_npc**.

[2016-07-04 07:34] ZKjellberg commented on #113
Pushed up latest changes implementing the new **f_npc** category. Majority of the guide now has a filter category so it should function correctly. Adding/removing/renaming filters is very easy, so if a new approach is suggested, I have no issues continuing to evolve the functionality.

@Algent Thanks for building this great system and advising me on the right approach. :+1:

Closing this issue. Yo

[2016-07-04 07:34] #113 closed, assigned to nobody

[2016-07-04 07:38] ZKjellberg commented on #83
Closing this issue as Issue #113 implemented new filter categories and I've added these classes to nearly all items.

See Issue #102 for NG+ related discussion.

[2016-07-04 07:38] #83 closed, assigned to nobody

[2016-07-04 07:53] ZKjellberg commented on #103
@CL4PTP Revisiting old issues.

To resolve this problem, I expect replace all references to **stateKey** and **profiles** to their core profiles values of **profilesKey** and **stateStorage** in [main.js](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/js/main.js) and delete their **var** declarations? Seems fairly straightforward unless you suggest something cleaner before I

[2016-07-04 08:19] ZKjellberg commented on #91
Starting working through this Issue.

To match the other buttons, the HTML code I expect [line 56 of index.html](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/index.html#L56) should look like this: (Though, I don't know if **data-hidden="false"** should exist as it was a value from the old button.)

[code]

The problem I am having is [the code on line 208 on main.js](https:/

[2016-07-05 20:29] SpaceEraser commented on #103
Alright so I finally got off my lazy ass and looked at the issue, the results of which are in that pull request. It ended up being a bit more complex than find/replacing stuff, but I also aimed to leave the file in a cleaner state than when I started, so that added some complexity.

There was also a bit of trouble restoring page state when switching profiles, but that should be sorted out.

[2016-07-05 23:28] SpaceEraser commented on #91
[So I have an implementation of what @ZKjellberg said above](http://cl4ptp.github.io/dark-souls-3-cheat-sheet/). The changes are a little more complex, since the Hide Completed feature interacts with the Saved Page State feature, but it wasn't that bad. Test it out and tell me what you think, I'll open a pull request if it looks good.

[2016-07-06 08:16] #103 closed, assigned to nobody

[2016-07-06 08:18] ZKjellberg commented on #91
#127 has implemented the new button. Closing this issue. Thanks @CL4PTP

[2016-07-06 08:18] #91 closed, assigned to nobody

[2016-07-06 08:20] ZKjellberg commented on #121
@CL4PTP Since you are kicking ass with other issues, any thoughts on this problem? I'd be curious on best way to hide these titles using Hide Completed, or at least when using the filtering system.

[2016-07-21 17:39] #72 closed, assigned to nobody

[2016-07-21 17:40] #80 closed, assigned to nobody

[2016-07-21 18:36] Schr0dinger opened #128 "Undead Settlement section point 3, homewards are missing!"
They're on the left in the zone were Yoel of Londor is.

[2016-07-22 08:26] ZKjellberg commented on #128
You are referring to the (2) Homeward Bones located on the edge of the bridge near Yoel? I'll add this soon.

[2016-07-23 20:07] JunglePredator opened #129 "Option to use on offline computer?"
Thanks for the cheat sheet.

Could there be an option to make it offline compatible? It doesn't work unless the computer can access rawgit.com & also has scripts allowed rawgit.com. (If either condition is not met the check boxes do not appear.)

[2016-07-25 06:26] ZKjellberg commented on #129
If you download the repository, and it will run fine offline. You can even export your data to import for a local instance.

[2016-07-31 13:26] Schr0dinger commented on #128
Yes, exactly

[2016-07-31 17:22] Chambs-15 opened #130 "Things missing from the guide"
- There are 2 Human Pine Resin inside a house next to the burning tree on undead settlement.
- In the beginning of the Road of sacrifice, before the "Braille Divine Tome of Carim", there are three things missing from the guide, a Shivring Stone and a Soul before the Wagons, a titanite shard over a bridge and a Hostile NPC/Butchers Knife/Brigant Armor Set/ Brigant Twin Daggers on a path to the left

[2016-07-31 18:46] joshuacant opened #131 "Missing items and area near Cathedral of the Deep"
Exit the Cleansing Chapel out the ground-floor front door, run up past the well and praying hollows, then jump down through a hole. In this area there is:

2 Titanite Shards
2 Crystal Lizards bearing Twinkling Titanite
1 Jumbo Crystal Dragon bearing a Titanite Scale
The Saint-Tree Bellvine Catalyst
The Poisonbite Ring

[2016-07-31 19:05] ZKjellberg commented on #131
Would you be willing to create a pull request with the missing additions?

[2016-07-31 19:05] ZKjellberg commented on #130
Would you be willing to create a pull request with the missing additions?

[2016-07-31 19:21] joshuacant commented on #131
Maybe! Depends on my free time this week. I'll just keep jotting down here things that are missing from this section, though.

Going down the stairs after the Deep Braille Divine Tome nets you:
A chest with Seek Guidance.
A spider creature that drops the ring Aldrich's Sapphire.
An ember looted from a corpse in the spider's room.

Going up the ladder after going down the stairs:
An ember looted fr

[2016-08-06 15:10] RobertoVGoulart commented on #130
Ok, i will.

[2016-08-06 15:17] Chambs-15 commented on #130
I will try, but i'm not very experienced on how GitHub works.

[2016-08-07 11:21] #129 closed, assigned to nobody

[2016-08-08 09:30] ZKjellberg opened #132 "Hide Completed Glitch when Restoring Tab"
If someone closes the checklist and restores the tab (CTR+SHIFT+T in Chrome), the hidden fields will be visible.

You can see the Eye icon for Hide Completed shows the status as hidden and the items are checked off, but are still visible in the image below.

![unbenannt](https://cloud.githubusercontent.com/assets/143709/17475399/24d329fc-5d5b-11e6-8a44-a43670b9e388.png)

@CL4PTP Any thoughts on wh

[2016-08-08 09:32] ZKjellberg opened #133 "Switching Profiles does not reset Counters"
When switching profiles, the counters do not reset their progress.

Sample image below showing the items unchecked, but their progress showing as DONE

![profile](https://cloud.githubusercontent.com/assets/143709/17475508/a2bb1b72-5d5b-11e6-86cc-90ea12fe4f6a.png)

@CL4PTP One more glitch with new system. I'll try to research these when I have time, but if you could possibly help advise, I'd apprec

[2016-08-08 11:30] ZKjellberg commented on #130
For contributing to this repository, you would press the **FORK** button in the top right and you can edit the index.html file. (GitHub allows you to edit in the browser) Once your code has been updated, you can then submit a **Pull Request** with your changes.

Alternatively, if you could phrase the missing items in sentences to match the guide's wording and state where they should be inserted, I

[2016-08-08 11:38] ZKjellberg commented on #133
I just pushed up a small change tweaking appearance, unrelated to this issue, and oddly I can no longer reproduce this issue.

[2016-08-15 09:35] ZKjellberg commented on #133
I am encountering this issue again in Chrome. It seemed momentarily fixed in Opera.

[2016-08-15 09:38] ZKjellberg commented on #130
PR #134 has added the missing Road of Sacrifices items thanks to @ElectroSpecter

Still need to add **Undead Settlement's (2) Human Pine Resin** inside a house next to the burning tree.

[2016-08-15 09:51] ZKjellberg opened #135 "Bootstrap Themes rendering differently"
With a recent commit, I noticed that some Bootstrap Themes like Darkly can sometimes render bullets incorrectly. For example, there are a few lines in Road of Sacrifices that abruptly start a new line.

![untitled](https://cloud.githubusercontent.com/assets/143709/17661285/7cbb4e5a-62de-11e6-93d9-0867abe5cc2a.png)

[2016-08-15 19:24] SpaceEraser commented on #132
Interestingly, the bug doesn't exist on Firefox 40 on OS X 10.11, but it does on Chrome 52. I'll create a pull request with a line of JS that should fix this issue.

[2016-08-15 19:36] ZKjellberg commented on #132
Fixed by #136. Thanks

[2016-08-15 19:36] #132 closed, assigned to nobody

[2016-08-15 19:37] SpaceEraser commented on #133
Interestingly, I couldn't reproduce this bug on any of Chrome 52.0.2743.116, Firefox 48.0, and Safari 9.1.2 (11601.7.7) on OS X 10.11.6. Switching profiles also seemed to work on Chrome 52.0.2743.116 m on Windows 10.
If you could narrow down the conditions under which you experience this bug or give more details on it I'll take a look at it again.

[2016-08-15 19:44] ZKjellberg commented on #133
This bug is really strange. I can no longer produce it as well. Sorry for the goose chase.

[2016-08-18 05:52] ZKjellberg opened #137 "New Game Plus Preparation Section"
The Dark Souls 2 guide has a [New Game Plus Preparation](http://smcnabb.github.io/dark-souls-2-cheat-sheet/#New_Game_Plus) Section. I am considering adding a similar section.

Copy and pasting the guide's notes and will start update wording and adding new bullet ideas.

[Fextra also has a nice summary of changes](http://darksouls3.wiki.fextralife.com/New+Game+Plus)

[2016-08-25 13:37] Swennet opened #139 "Missing item pickup in the Undead Settlement section"
Right after "Find Yoel of Londor below the Foot of the High..." there are two Homeward Bones in the left corner near the ledge.

[2016-08-25 14:13] ZKjellberg commented on #139
Same as #128

I'll try to fix this today.

[2016-08-25 14:49] Swennet commented on #139
Thanks! I'll check for duplicates next time :)

[2016-08-26 14:46] #139 closed, assigned to nobody

[2016-08-26 14:46] ZKjellberg commented on #128
Added in latest commit. Thanks for reporting.

[2016-08-26 14:46] #128 closed, assigned to nobody

[2016-08-26 14:47] ZKjellberg commented on #139
Pushed up fix today.

[2016-09-04 12:27] ZKjellberg commented on #114
I received a message today from reddit user, [HappyVlane](https://www.reddit.com/user/HappyVlane), who has started working on the Farron Keep zone. He downloaded the HTML file, wrote his additions for the zone, and uploaded the file here: http://guenay.at/DarkSouls3/index.html

I've instructed him to create a fork and we can investigate incorporating his changes into the guide.

@ElectroSpecter Yo

[2016-09-04 12:37] ElectroSpecter commented on #114
Thank you for the heads up. I was thinking of starting this area soon, but
it looks like I don't need to. My current character is right at Farron
Keep, so I can test these new checklist items for accuracy, at least!

On Sep 4, 2016 8:27 AM, "Zachary Kjellberg" notifications@github.com
wrote:

[2016-09-24 00:26] ZKjellberg commented on #114
Closing this issue after the massive contribution from @HappyVlane

[2016-09-24 00:26] #114 closed, assigned to nobody

[2016-09-24 00:30] ZKjellberg commented on #131
Closing this issue as I believe all of these have been added in PR #141 thanks to @HappyVlane

[2016-09-24 00:30] #131 closed, assigned to nobody

[2016-09-24 00:33] ZKjellberg commented on #130
Closing this issue as I believe all of these have been added in PR #141 thanks to @HappyVlane

[2016-09-24 00:33] #130 closed, assigned to nobody

[2016-10-10 23:26] ZKjellberg opened #143 "Search Filter and Category Filter Bug"
[/u/EpsilonRose](https://www.reddit.com/r/darksouls3/comments/4fmjyu/dark_souls_3_cheat_sheet_checklist/d8gw13k) reported a bug where if you use the category filters and the search filter, it will sometimes give incorrect data.

See sample image below:
![image](https://cloud.githubusercontent.com/assets/143709/19254216/6a8d5418-8f1f-11e6-9979-661b5b231e70.png)

[2016-10-29 14:44] ZKjellberg opened #146 "AppCache causing HTTP to not update"
After adding the DLC Content through PR #144 and PR #145 from @HappyVlane I discovered that the AppCache feature from PR #142 has caused all updates to the guide to not be pushed to clients if they are viewing from HTTP.

It appears that AppCache is not seeing any updates and also provides a warning that it will not supported over HTTP in the future.

@Nickardson Any thoughts on this? I am conside

[2016-10-29 15:56] ZKjellberg commented on #146
[This might be fixed with this commit](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/commit/0e91347a08cec5850a9ceadbe9267a89e1b88a60)

I moved index.html from CACHE to the regular section. I think CACHE expects these files to never change. I need to investigate this further.

[2016-10-29 17:02] Nickardson commented on #146
My fault, I should have mentioned that the appcache itself needs to be changed for cached files to be redownloaded. I believe this is the source of the problem. This can be as simple as changing the "version" comment, or anything else inside the file.

[2016-10-30 17:11] 2mg opened #147 "On item missing on the DLC list"
I think you missed an Ember in the area after the Cathedral, where the broken bell is. It's in a mini cave straight of bonfire, where Followers are attacking you. Can you check?

[2016-11-02 14:23] Schr0dinger opened #148 "Error in DLC shields/weapon list"
The follower torch is a weapon and it's listed as a shield (same with the regular toch btw). And the ethereal oak shield is missing.

[2016-11-04 16:42] ZKjellberg commented on #147
@HappyVlane Heads up on a possible small change.

I might do a new character run down the road, so I'll keep this in mind.

[2016-11-06 15:46] ZKjellberg commented on #148
What category would you recommend the torch fall under? Since there was only one torch, treating it as an offhand makes sense, but since the new torch is more of a weapon, I suspect it should be moved. I guess it could be moved into the **Flames, Talismans and Chimes** category.

I've noted that the [Ethereal Oak Shield](http://darksouls3.wiki.fextralife.com/Ethereal+Oak+Shield) is missing and wil

[2016-11-15 02:33] ZKjellberg commented on #147
I realize I misunderstood your comment. I thought you were talking of Cathedral of the Deep.

I think this line addresses the ember you mentioned:

Closing this issue.

[2016-11-15 02:33] #147 closed, assigned to nobody

[2016-11-15 03:05] ZKjellberg commented on #148
The regular torch is actually categorized as a Shield in-game. (Open bonfire inventory and you will see it listed under Shields).

Follow Torch is listed as a Weapon and is listed next to Dark Flame which is classified as a Fist.

I'm going to leave this as-is because I'd rather keep the torches together.

[2016-11-15 03:05] #148 closed, assigned to nobody

[2016-11-20 22:24] ZKjellberg commented on #148
Started playing Dark Souls again and thought of your issue. I forgot to add the shield you posted and I've now added it to the guide.

[2017-01-15 12:01] YuhNinja opened #149 "Grave warden's ashes not on checklist"
To get the Grave warden's ashes start from the Catacombs of Carthus bonfire, take the first left. When in the sewers, take another left. From here, go right into the first open door you see. Take the stairs up, and then make a u-turn towards the back wall. The ashes will be on a corpse.

[2017-01-16 01:34] ZKjellberg commented on #149
Item playthrough_7_20 has this:

[2017-01-16 01:34] #149 closed, assigned to nobody

[2017-01-17 06:00] YuhNinja opened #150 "Rusted coin not on list."
In the profaned capital after dropping down the structure where the bridge and the gargoyle is, there is a rusted coin hiding in front of the first pillar to your left before the stairs if you look towards the large bowl of fire.

[2017-01-21 22:44] ZKjellberg commented on #150
When I get to this area on a new playthrough, I will add it once confirmed.

[2017-01-21 22:49] ZKjellberg opened #151 "manifest-based application cache feature is obsolete"
The usage of **manifest.appcache** is now obsolete, so switching to a replacement seems wise.

![image](https://cloud.githubusercontent.com/assets/143709/22178352/d7b06e6c-e001-11e6-8d26-67fab9127612.png)

Additionally, the issues I encountered in Issue #146 made it a bit frustrating to use, so hopefully a 'smarter' solution could be found.

[2017-01-21 22:49] #146 closed, assigned to nobody

[2017-01-21 22:53] ZKjellberg commented on #150
Looking into this more, I see this on the guide listed as:

Closing this issue unless you were recommending a different change.

[2017-01-21 22:53] #150 closed, assigned to nobody

[2017-01-22 12:12] YuhNinja commented on #150
No, thats not it. Its a completely different coin. The one mentioned you mentioned is in the very back.

[2017-01-22 12:18] YuhNinja opened #152 "Second Heysel pick and Zanthos crown?"
nvm.

[2017-01-22 14:55] #152 closed, assigned to nobody

[2017-02-01 00:46] YuhNinja opened #153 "Patches is gone forever if you follow your guide. Also you missed a hidden blessing."
In the guide nowhere does it state to make sure you speak to patches about where Greirat has gone if you chose to send him to Lothric Castle before beating the last boss. I think you should really add a caution or say to make sure you tell him about Greirat before you beat all the bosses in the game because if you dont he will be gone forever. Also, technically you are missing a hidden blessing be

[2017-02-01 01:22] YuhNinja commented on #153
Well, my entire point still stands. But i just found out i have infinite rusted coins. lol

[2017-02-01 13:57] ZKjellberg commented on #153
There are two bullets related to Patches and Greirat under [Irithyll of the Boreal Valley](http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#Irithyll_of_the_Boreal_Valley)

- Return to Firelink Shrine and talk to Greirat of the Undead Settlement. He will ask to pillage Irithyll. Only do this after confirming Siegward is in Irithyll OR if Patches still has Siegward's armor. If you have neither,

[2017-02-04 16:37] YuhNinja commented on #153
The directions you gave in the checklist are perfectly fine dude, just put
a precaution in there somewhere. Id'e put one right before you talk about
sending Greirat to Lothric castle and then maybe 1 more before the Soul of
Cinder.

On Wed, Feb 1, 2017 at 6:57 AM, Zachary Kjellberg <notifications@github.com>
wrote:

[2017-02-04 16:39] YuhNinja commented on #153
To prevent Patches from being gone forever you just have to make sure you have at least 1 boss left and then talk to patches about Grierat if you sent him off to Lothric Castle.

[2017-02-05 22:30] YuhNinja commented on #153
WAIT! Never mind! For some reason, even though the wiki states that patches will be gone forever if you killed all the bosses before talking to patches about Greirat going to lothric. After a couple of days i came back to patches and he was there perfectly normal and sold me everything. Including the hidden blessing. They must have fixed this in a patch or something and the wiki was never updated.

[2017-02-06 02:11] ZKjellberg commented on #153
Interesting. Thanks for the update. I appreciate you reporting and following up with the resolution. It is an interesting issue and I'm happy it was resolved.

[2017-02-06 02:11] #153 closed, assigned to nobody

[2017-03-05 00:15] #143 closed, assigned to nobody

[2017-03-23 10:26] ThomasvdLubbe opened #155 "Estus shard locations not clear"
First i noticed that i think you added the estus shard that is up on the rafters of firelink shrine twice. You have it under both the firelink shrine tab and the cathedral of the deep tab. The other thing is that when filtering on estus shard you see for example under the Anor Londo tab that is says: "On the left side of this room, there will also be a chest with an Estus Shard surrounded by Rotte

[2017-03-27 00:43] ZKjellberg commented on #155
Hi, thanks for the feedback.

**Estus Shards**: For your first item, you highlight I have a repeat of the same Estus Shard on [Line 182](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/index.html#L182) & [Line 386](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/index.html#L386)

These are definitely are duplicates. I'll need to reword the second section t

[2017-03-28 23:29] ZKjellberg commented on #155
Thanks to @HappyVlane this issue has now been addressed and included with the latest DLC content commits.

[2017-03-28 23:29] #155 closed, assigned to nobody

[2017-04-02 09:19] Mazszy opened #157 "Data doesn't save on mobile?"
On iOS and uhm. Data isn't retained even though I'm signed in.

[2017-04-02 09:27] Mazszy commented on #157
Even if I leave a tab open but close safari, history = gone

[2017-04-02 09:28] Mazszy commented on #157
An app would be really cool...

[2017-04-02 19:01] ZKjellberg commented on #157
Tested the guide using Firefox, Chrome on Windows 10 and macOS. Additionally tested on Firefox and Chrome for Android. I don't have access to an iOS device to test the application and see if I can reproduce the error.

Note that the history is saved locally to your browser, so if you **clear cache**, use incognito mode, or have any other settings similar, it will purge your progress on each use.

[2017-04-05 14:54] ZKjellberg commented on #157
I just tested this on an iOS device with Safari and was unable to reproduce the issue.

[2017-04-05 14:54] #157 closed, assigned to nobody

[2017-04-21 00:30] Irubataru opened #160 "Suggestion: Add a missable tag / filter"
It would be great if the entries could be marked by some sort of time limit (if one exists). E.g. where progression wise it expires. If this is too much, then a simple "missable" tag would also be of great help, indicating whether such a progression barrier exists at all (and then the point at which it expires could be written in the item, something it already is for most entries).

Obviously, the

[2017-04-21 01:48] ZKjellberg commented on #160
Thanks for the feedback.

When I originally introduced the NPC tag, (it was originally labled Sidequest) the focus was to highlight side-quests especially actions that might might be missable.

I'm not sure best way to improve this. The tag system already has some high overhead due to how large the list has gotten, so I fear extending it further.

If you have further thoughts on how we could tweak

[2017-04-21 13:24] LaplaceNoMa opened #161 "A specific suggestion/concern regarding Sir Vilhelm (AoA DLC)"
So, the checklist tells the player to go down the ladder to Corvian Settlement after reaching the rope bridge. While obviously I hope the vast majority of players go through their first playthrough somewhat blind and use the checklist after already exploring, I still wanted to note that if the player does that, they will miss the encounter with the 'friendly' version of Sir Vilhelm, who can only b

[2017-04-21 14:44] LaplaceNoMa commented on #161
A small addition: now that I think of it, it would make perfect sense to slightly change the order of things:

- Cross the bridge before going to Corvian Settlement
- Talk to Vilhelm there and light the bonfire
- Collect the loot near the chapel and break the bridge
- Proceed to the whole bottom section
- Use the ladders to go all the way up and *then* continue with the Corvian settlement

[2017-04-24 21:40] LaplaceNoMa commented on #161
A small update: I'll gladly do it myself with a pull request, was just wondering whether the idea itself would be accepted.

[2017-04-24 23:17] ZKjellberg commented on #161
If you are looking to change the ordering to make it smarter for new players, I'm open to it.

[2017-04-29 05:26] LaplaceNoMa commented on #161
This can be closed, by the way. On an unrelated note, I hope to find some time to add TRC armor... soon™.

[2017-04-29 05:26] #161 closed, assigned to nobody

[2017-05-23 00:05] Ibtihaj-Khan opened #171 "Import of File not Working"
Hi,

I'm not sure if everyone is having this issue, but I created an export file about a week ago and that seemed to be fine; but when I went to import the file, none of the previously checked off components were completed. I'm not sure if this is a recent issue, as when I used this feature previously (months ago), it was functioning properly for me.

[2017-05-23 00:46] ZKjellberg commented on #171
Hm....the export feature was migrated from the original guide and I've tested it numerous times without issues, though I have not tested it with the many revisions to the website. I'd have to look into the logic of the export/import functions.

Would it be possible for you to upload the file to GitHub Gist? https://gist.github.com/

[2017-05-23 00:56] Ibtihaj-Khan commented on #171
I think i've done it (under raw it shouldn't all be in one line).

https://gist.github.com/ikhan7/4d8057f3a9e2ff9a6b323746407576b2

[2017-05-23 01:09] ZKjellberg commented on #171
What browser are you using? I named the file **DS3_Import.json** (download original saved as DS3_Import.txt) and imported the file. This loaded a profile named **Litness** which has all non-DLC zones marked as DONE. Additionally, it lists Achievements as 182/263 complete.

This was tested using a clean Internet Explorer session. I just tested using Chrome in incognito mode with success as well.

I

[2017-05-23 02:30] Ibtihaj-Khan commented on #171
I tried Safari and Chrome on my mac that I usually keep to the side to look at things off of (which it worked on before) and it did not work on either one. I emailed it to my PC and imported it in chrome and it did not work either.

[2017-05-23 02:37] Ibtihaj-Khan commented on #171
Okay, it seems downloading it into a txt and then renaming it into a .json worked. I used copy the export and save it into a word document file. This had worked in the past, but perhaps it no longer works.

[2017-05-23 03:00] ZKjellberg commented on #171
So your original filename was with a **.txt** filename?

I just tested the code with a file ending in .txt instead of .json and it silently errors. This should really provide feedback to the user.

[On line 178, main.js](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/js/main.js#L177) checked to see if the filename ended in **.json** and quietly exited if it did not match. I h

[2017-05-23 03:00] #171 closed, assigned to nobody

[2017-06-10 02:20] loidas commented on #79
You are still missing the required information to obtain the Pale Shade Set. To obtain this set one needs to defeat Londor Pale Shade twice, once in Farron Keep and once in Irithyll. The set can then later be found in Firelink Shrine. Almost all information can be found in this video: https://www.youtube.com/watch?v=enWQmnBQWzQ (The only thing misrepresented in this video is that you have to kill

[2017-06-10 15:10] ZKjellberg commented on #79
Received an email regarding this issue from @loidas but do not see the activity here oddly. They provided great feedback on how to implement this missing content.

A new entry should be added under Farron Keep (near the basilisks):

The entry under Irithyll should be changed from

to

A new entry should be added later on (in Firelink Shrine):

[2017-06-11 00:33] loidas opened #172 "Unclear item description in Grand Archives"
The current text makes it look as if there was only one item location, although there are two individual ones to be picked up.

Under Grand Archives:
"Go outside and take a left for two **Titanite Chunks**"
should be replaced by
"Go back outside. On the left is a **Titanite Chunk**. Then drop down for another **Titanite Chunk**"

[2017-06-11 02:08] loidas opened #173 "Export does not work in Microsoft browsers"
Windows 10 x64
In Internet Explorer 11.1198.14393.0 clicking "Export" does nothing. In Microsoft Edge 38.14393.1066.0 clicking "Export" turns the mouse cursor into the busy cursor and then does nothing.

![export](https://user-images.githubusercontent.com/29320685/27007433-c0d61974-4e53-11e7-8bfa-58a4e5e22b0e.png)

[2017-06-11 20:02] ZKjellberg commented on #172
Just pushed an update to fix this. Thanks for reporting. Looking over the other issues. If you are up to the task, I welcome Pull Requests to address your reported changes.

[2017-06-11 20:02] #172 closed, assigned to nobody

[2017-06-11 20:13] #79 closed, assigned to ZKjellberg

[2017-06-11 20:16] ZKjellberg commented on #79
Pushed up code to implement this questline. Thanks @loidas for the wording and suggested areas.

I decided to merge the Londor Pale Shade into the second invasion since if you killed him the first time, you should now have met the requirement to get the gear.

I repeated your issue because for some reason your issue and account did not appear to exist on GitHub. Possibly waiting for email verifica

[2017-06-11 21:49] ZKjellberg commented on #173
Tested using Edge on my Windows 10 desktop and was able reproduce the issue. I'm not sure what is going wrong since there are no errors relating to the Javascript code executing. This will need to be investigated further.

When viewing the Settings page, there are many errors attempting to download CSS resources, but I do not believe this relates to the problem since CSS should only focus UI eleme

[2017-06-11 21:58] ZKjellberg commented on #173
The logic for the export is located on [line 158 of main.js](https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/blob/gh-pages/js/main.js#L158)

Tried using a breakpoint for the method and it triggers when the Settings page loads but haven't been able to figure out issue yet.

The strangest part is after clicking the button, Edge believes it has a file download active, yet shows no activity in

[2017-06-22 20:57] ErenEkinci opened #174 "Achievements does NOT require DLC items"
You do NOT need DLC items to unlock the achievements on PC. Without any DLC, I have 100% achievements on the game which includes pyromancy, miracle, ring achievements.

[2017-06-24 14:52] ZKjellberg commented on #174
Thanks for reporting.  To address this correctly, I would need to add new categories for all DLC content and add new IDs for the values. (Resetting the status for all users). This seems worthwhile to implement to avoid confusion.

If you want to try taking a stab at this as a Pull Request, I'd welcome the changes.

[2017-07-27 22:25] loidas opened #175 "Clarify exact amount of items in each pickup"
One slight inaccuracy in the sheet is that for example when it tells you something like "pick up two Itemname", you don't really know whether to expect a single pickup containing two copies of Itemname, or two individual pickups of one Itemname each.

This is not really a huge issue, so I'm not sure whether you'd even want to do something about it. If yes, I suggest changes along the lines of http

[2017-07-28 18:38] ZKjellberg commented on #175
Hm...this seems potentially worthwhile to do, though a fair bit of work. I think it might be better to use text such as **(2) Firebombs** as that would be more distinct.

I do not understand the purpose behind `<a style="pointer-events:none"> + </a>`. This is just to allow the text for the + symbol to look like a link? This seems unnecessary to me as you can just use text without confusion.

Addit

[2017-07-29 11:53] loidas commented on #175
My underlying design philosophy is that items which are part of the same pickup should be presented in one continuous colored part (therefore the + symbol has to be the same color as the links) and that, conversely, separate pickups should be represented by separate highlighted parts in the text. This is geared towards people like me, who do not peruse the text but just scan it for colored words a

[2017-08-12 16:37] loidas commented on #175
So, do you want to implement it or are you going to close this issue?

[2017-08-12 17:41] ZKjellberg commented on #175
I like the change to `Ember x2` but I am not so crazy on the strange `<a style="pointer-events:none"> + </a>`. I guess I'm open to the change, but it just seems odd when viewing source. (Lot of code, just for coloration)

[2017-09-10 20:50] ZKjellberg commented on #174
Finally got around to this issue. You should now see the changes on the server. Thanks for reporting

[2017-09-10 20:50] #174 closed, assigned to nobody

[2017-09-10 23:38] ZKjellberg commented on #120
Feature has now been implemented.

[2017-09-10 23:38] #120 closed, assigned to ZKjellberg

[2017-09-10 23:47] ZKjellberg opened #176 "Issues with Totals calculations"
After adding new content to the **Achievements** tab, I'm having issues getting totals to function for new categories. For now, the following categories, do not have a Total.

- **Pickle Pee, Pump-a-Rum Crow** under **Misc**
- DLC Spells
- DLC Rings
- Ending Achievements
- Boss Achievements
- Misc Achievements
- Covenants Achievements

I removed the standard `<span id="checklist_totals_#"></span>`

[2017-09-21 10:37] ebkjiud opened #177 "RU-ru Localization?"
I translate into Russian (without professional skills). Approximately 10% is completed. After completion, you can integrate an additional subdomain (folder) for the Russian version? For centralized storage.

[2017-09-21 10:40] ebkjiud commented on #177
https://ds3check.000webhostapp.com/

[2017-09-22 14:14] ZKjellberg commented on #177
Hi @ebkjiud, I'm not sure how to handle localization.

To start, I would suggest creating a fork of this repository so we can explore handling a Pull Request down the road.

[2017-09-25 15:08] #175 closed, assigned to nobody

[2017-09-27 23:17] #176 closed, assigned to nobody

[2017-09-27 23:55] ZKjellberg commented on #151
Solution for this looks to be to enforce HTTPS only, but as this would result in all HTTP saves being lost, this will probably never be fixed.

[2017-10-08 14:52] #121 closed, assigned to nobody

[2017-10-08 14:57] #177 closed, assigned to nobody

[2017-10-08 14:58] #118 closed, assigned to nobody

[2017-11-17 20:13] DrPootytang opened #189 "Crystal Lizard Missing in Lothric Castle"
There is a second crystal lizard not on the checklist after the first Pus-of-Man/Wyvern shortly after the Dragon Barracks bonfire. Would be right next to the "Turn around and take the exit on the same level to find another Titanite Chunk and Titanite Scale" entry in Lothric Castle checklist.

[2017-11-18 21:26] ZKjellberg commented on #189
Thanks for reporting. We can update the bullet you mentioned

`<li data-id="playthrough_13_24" class="f_mat">Turn around and take the exit on the same level to find another <a href="http://darksouls3.wiki.fextralife.com/Titanite+Chunk">Titanite Chunk</a> and <a href="http://darksouls3.wiki.fextralife.com/Titanite+Scale">Titanite Scale</a></li>`

Here is that line in source code: https://github.com

[2017-11-21 20:42] DrPootytang commented on #189
Thanks for reply. Unfortunately during my run, I killed the lizard before noticing it wasn't on the checklist and wasn't paying attention to the materials it dropped. Will have to wait until I can get another run to that area before being able to accurately word the addition.

[2017-11-22 01:21] ZKjellberg commented on #189
The [Lothric Castle Walkthrough] shows two mentions of Crystal Lizards, though I'm not really sure the appropriate wording to incorporate the additional lizard for the area you suggested.

[Crystal Lizard Wiki](http://darksouls3.wiki.fextralife.com/Crystal+Lizard) shows (2) Crystal Lizards and both drop (2) Twinkling Titanite.

[2017-12-20 12:58] #189 closed, assigned to nobody

[2018-01-07 17:20] cedrei opened #191 "Paper theme breaks Go To Top button fade-in"
When the paper theme is activated, the Go To Top button's fade-in acts very weirdly. Sometimes it first fades in a bit, fades back out, and then fades in for real. Other times, it fades in, snaps to being not displayed at all, and then you have to scroll farther to get it to actually fade in.

[2018-01-07 17:37] ZKjellberg commented on #191
Relates to #135

I really do not like the Themes as they are buggy. They may be removed if/when I upgrade this repository to Bootstrap 4

[2018-01-14 01:03] #191 closed, assigned to nobody

[2018-01-14 01:05] ZKjellberg commented on #191
Issue is now closed. @loidas submitted a PR and resolved the issue. 👍

[2018-01-17 03:10] ZKjellberg commented on #151
Revisiting this issue briefly.

GitHub now offers the feature:

![image](https://user-images.githubusercontent.com/143709/35023752-06e11104-fb0a-11e7-8939-86b6c6e5761b.png)

The issue is this website has always used the HTTP URL for advertising, and if this was enforced, it would force all existing users to migrate to HTTPS where there would be zero data.

[2018-01-23 09:06] cptjabberwock opened #194 "Bonfire specific info and missed item (I think)"
I used this this month for my first play-trough on PC (did a full on Xbox but the hassle of fighting Dancer at 15 fps is too big to ignore)

The only things i remember not being in the guide are those two things:

Undead settlement
18. Walk across the bridge towards the house in view and jump down to the ledge on your right. When you are on the ledge, walk towards the bridge to get a Titanite Shar

[2018-01-23 09:53] cptjabberwock opened #195 "Leonhard quest after finishing Sirris"
Grand Archives

58.With Sirris' side quest complete, you are now free to finally continue Leonhard's. Head to the Rosaria's Bed Chamber bonfire (you might find a Man-grub in here which drops Heysel Pick and Xanthous Crown) and **either give her a Pale Tongue or equip the Rosaria's Fingers covenant item**. Leonhard should now appear in this room. If not, refresh the world. Exhaust his dialogue, ref

[2018-01-23 13:39] ZKjellberg commented on #195
For 58, you are suggesting we remove the `Equip the Rosaria Fingers covenant item` note as it may not function for this purpose? I'll need to check with wikis, but if that matches, I'll remove the wording. I also accept Pull Requests for suggested changes.

The Dark Souls 3 guide went through many many changes. It may be possible to migrate without too much challenge, but I would need to spend som

[2018-01-23 13:42] ZKjellberg commented on #194
For Undead Settlement 18, we can add a note suggesting to light the Cliff Underside bonfire.

For Catacombs of Carthus 5, we can look into adding Soul of Nameless Soldier if it exists. We can validate against other guides or use your confirmation on your second character.

I welcome Pull Requests for your suggested changes, otherwise I will look into implementing them in the future.

[2018-01-23 17:17] ZKjellberg commented on #195
Reading further on Fextralife, it states [for the Leonhard questline the following for Step 4](http://darksouls3.wiki.fextralife.com/Leonhard):

`Once you reach the Cathedral of the Deep, find Rosaria´s Fingers in Rosaria's Chamber at the second floor of the Cathedral of the Deep and offer at least 1 Pale Tongue to Rosaria (Do NOT rank up in Rosaria's Fingers until the next event happens)`

So it

[2018-01-23 19:57] cptjabberwock commented on #195
No problems ^^

I will make a pull request if you don't have time to do it

I will also test if we can equip the Rosaria Covenant and invade without getting a fail in Sirris quest

So far, people on the net say that you can do it but **ANY** Pale tongue offered to rosaria will fail the quest

Off topic again: I will try to make the base DS2 Cheat sheet from **smcnabb** your DS3 sheet, making a cop

[2018-01-24 13:24] ZKjellberg commented on #194
Resolved by PR #196

[2018-01-24 13:24] #194 closed, assigned to nobody

[2018-01-24 13:33] ZKjellberg commented on #195
Resolved by PR #196.

For updating the Dark Souls 2 guide, I think most of the code will transition and is interdependent. `main.js` has the vast majority of content and you will want to make sure you update the variable on line 1.

I played both Dark Souls 2 & SotFS and there were some radical changes, so I'm not sure how you would want to approach that.

Grand Archives was 58 because it was a la

[2018-01-24 13:33] #195 closed, assigned to nobody

[2018-01-24 17:01] knox4 commented on #195
@ZKjellberg @cptjabberwock I think it's important to mention, I did it only for the DLC only, for my personal playthrough (since I was using the checklist and like that kind of consistency). I don't mind that it's public but I have no plans to maintain it; for that matter I haven't corrected the changes in the previous guide from vanilla DS2 to SOTFS, so there are still some inaccuracies. Feel fre

[2018-01-24 18:28] cptjabberwock commented on #195
@knox4 So, the DLC is SotFS based and the rest of the guide is still vanilla ?
So i can begin to plan

[2018-01-24 18:33] knox4 commented on #195
@cptjabberwock Correct. I just dealt with the inconsistencies while I was playing, but wanted a similar format for the DLC because I got used to it. Important to note - the guide part comes from what's on the fextralife pages, so any inaccuracies there will be in my checklist parts as well. Off the top of my head I don't recall any, but I do remember Frozen Eleum Loyce could have been a bit better

[2018-02-02 12:47] cptjabberwock commented on #195
@knox4 I looked to and from the DLCs on the 2 games in DS2 and it seems the DLCs weren't touched by SotFS changes. I need to look more at it but it seems that I will not have to change a lot in my formating

[2018-02-07 00:29] JohnEdwa opened #197 "Suggestion: a spoiler-free 'missable & point of no return' checklist."
I would love to have a list to check whenever I enter a new zone, showing *only* the things that I can permanently miss on that playthrough if I fail to complete them at that time, with as little spoilers as possible, and not be trying to explain every detail on *how* to actually do them.

As an example, for Undead Settlement it would say "Join the Mound-Makers covenant before fighting the boss" a

[2018-02-07 01:31] ZKjellberg commented on #197
Issue #195 had a similar desire. The filtering system should address this if you only enable the **Quests & NPCs** filters. Closing this issue as it is already implemented, though not as intuitive. I welcome discussion/feedback if you have thoughts on how to improve, especially if you have interest in contributing.

[2018-02-07 01:31] #197 closed, assigned to nobody

[2018-02-07 22:41] JohnEdwa commented on #197
I'm personally only at the Catacombs (which is why I'd love the list myself), but I could have a go at it for sure. I won't find everything on my own for sure, but that's what Reddit is for.

I was thinking it would be best as a separate list instead of being part of the big playthrough one, because AFAIK, there aren't that many things that you can miss. For example, the Undead Settlement section

[2018-02-09 17:20] ZKjellberg commented on #197
The guide originally started in this way. The filter list was a solution to address this. I agree missable could be useful, but quests and NPCs address this. We could add a new filter called missable, but we have too already.

[2018-03-03 20:55] erikfox commented on #137
Also, this would be nice for a NG checklist: http://darksouls3.wiki.fextralife.com/Pickle+Pee,+Pump-a-Rum+Crow

[2018-03-03 22:46] ZKjellberg commented on #137
@erikfox See the Misc tab: http://zkjellberg.github.io/dark-souls-3-cheat-sheet/#tabMisc

[2018-03-17 14:08] #173 closed, assigned to nobody

[2018-04-29 18:12] #135 closed, assigned to nobody

[2018-04-29 18:21] #133 closed, assigned to nobody

[2018-04-30 22:13] NotGeobor opened #212 "Ladder shortcut missing from guide."
There is a ladder shortcut missing from the guide in the room with the Great Sour Dregs in the Dreg Heap portion of the guide. I don't really use GitHub so I don't know if I posted this in the correct place but I just wanted to point it out.

[2018-05-07 19:49] #102 closed, assigned to nobody

[2018-05-07 19:49] #212 closed, assigned to nobody

[2018-06-04 08:34] malcalevak opened #214 "Flag/Tag Covenant/Transposition Items"
When you're trying to collect everything, it can be a bit of a hassle when you see an item, and aren't sure if you can farm it, it'd be much easier to skip over them if you could see on the list that it required soul transposition or covenant ranking.

[2018-06-05 14:15] ZKjellberg commented on #214
I'm not sure I understand your request. Are you asking to add more details to the Equipment tab to explain the requirements for items?

[2018-06-06 17:22] malcalevak commented on #214
Apologies for not being more clear, but yes. I'm in the process of collecting all the equipment, and being able to "hide completed" is a big help, but when it comes to what's left, I've got maybe 80% items that I'll need to soul transpose after NG+, 10% I need to rank up in covenants, and 10% to farm. After clicking on them enough times, I've got a pretty good idea of which is which, now, but it w

[2018-06-07 12:05] ZKjellberg commented on #214
So you want something like Issue #117. If you want to try tackling this issue, I'd welcome a PR. I'm closing this issue and if you want to add further discussion, please add it to #117.

[2018-06-07 12:05] #214 closed, assigned to nobody

[2018-06-07 13:50] malcalevak commented on #117
I might take a look at this, at least for the covenant and transposition items, but we'll see. Thanks!

[2018-08-20 05:19] Auricfire opened #216 "Sheet doesn't load properly"
Tested on both Firefox and Chrome, certain elements of the page don't load correctly.
![image](https://user-images.githubusercontent.com/42530046/44321605-2dcd7a00-a406-11e8-8c29-d4ee91cf5974.png)
The page can still be interacted with, but themes and layout don't load properly.

Edit: .....And three hours after I posted this, I check and the page works again. Either there was an issue with my PC (

[2018-08-21 00:16] ZKjellberg commented on #216
Looks like the Bootstrap resources weren't downloading, maybe a temporary network issue.

Thanks for providing update that issue is resolved. Closing.

[2018-08-21 00:16] #216 closed, assigned to nobody

[2019-04-02 13:07] berge2015 commented on #195
Decided to comment here instead of creating a new post.

So, Rosaria did not die after giving her the tongue and exhausting Leonhard's dialogues. (This was after I was done with Sirris' questline.) I had the covenant on, offered second tongue, reset at bonfire, quit the game and reload, etc -- tried everything but nothing worked. Then I found a thread on some forum that said to travel to the Profa

[2019-04-02 17:39] ZKjellberg commented on #195
If you have a recommended wording change, you are welcome to submit a PR, though this seems like a strange scenario to properly trigger.

[2019-04-02 17:56] berge2015 commented on #195
I'll leave that up to your discretion. But here's [the progression on fextra](https://darksouls3.wiki.fextralife.com/Leonhard) and [the steam thread](https://steamcommunity.com/app/374320/discussions/0/357285562477670646/) that helped me. Cheers!

[2019-04-02 19:49] SpinnyBoiii opened #217 "update issues"
the most recent update more or less downgraded the cheatsheet for me,i hadnt noticed it till today as i had no need to(im somehow remembering like 90% of the cheatsheet on my own). not sure if others have this problem. i already had 8 characters saved into it,of which 1 end ng(+dlc 1 and 2) and 1 end ng++(no dlc done for the ng++ yet),but all im getting is this without the ability to make any chan

[2019-04-03 16:09] ZKjellberg commented on #217
What browser are you using? It seems like Javascript and/or internet resources are failing to load. Try opening the browser's console to see if you are getting any network errors.

[2019-04-03 19:35] SpinnyBoiii commented on #217
was getting some errors in the browser's console yeah,not sure what did it as i hadnt downloaded or changed anything for a week prior to the problems,but since its the most simple thing to do i decided to just reset the browser to its original settings.

[2019-04-03 19:35] #217 closed, assigned to nobody

[2019-11-18 09:52] orderoftheflame opened #219 "Enhancement - NPC Phantoms listings"
Love your site, so helpful playing back through after a long time away. I'm not sure if you're still working on it, but I thought of something that would be really handy for me.

I'd love to have NPC phantom invasions listed separatly as their own tab. Quite often I'll toggle off armour and weapons just to focus on the things that are more critical while playing, but this often means I'll forget t

[2019-11-18 10:56] ZKjellberg commented on #219
The intent is the toggle filters should address this. If you only enable QUESTS that has the subset NPC category which should include invasions. If you have recommendations on how to make this more intuitive, I'm open to changes. I'm currently on travel with just a cell phone so my access to code is limited to investigate existing functionality.

[2019-11-19 13:14] orderoftheflame commented on #219
Thanks for replying so quickly. :)

That's interesting, I'd assumed they might fit with the NPC category. It looks like it might just be that some tags are missing for the Phantoms then. As an example, the first two on this list are missing the `f_npc` tag. (Instead only showing up for misc or weapons / armour).

[code]

When I get the chance I'd happily add the `f_npc` tag to all of the encounter

[2019-11-20 11:14] ZKjellberg commented on #219
Sounds good.

[2019-11-20 12:51] orderoftheflame commented on #219
Thanks. Have created: https://github.com/ZKjellberg/dark-souls-3-cheat-sheet/pull/220

[2019-11-22 06:39] #219 closed, assigned to nobody

[2019-12-24 22:39] hjelp200121 opened #221 "Cornyx rescue "guide" not under npc tag"
The "guide" to rescue cornyx is only under the weapons tab and gestures. So if you wanna complete all npc quests but not gain weapons/gestures it will not show up under NPC's.

[2019-12-25 02:35] ZKjellberg commented on #221
We can look into adding the NPC tag for him. I welcome PRs if you want to give it a first draft. Simply append `f_npc` to the `class` for each bullet.

[2020-01-13 14:14] #221 closed, assigned to nobody

[2020-04-12 02:16] Skitz470 opened #223 "Shortcut elevator before Twin Princes"
So using the sheet (which has been a GODSEND for my NG+ run so thanks so much) and noticed it states that the elevator right before Twin Princes leads to Grand Archives Bonfire.  This is incorrect, it actually drops all the way to the chapel before Dragonslayer Bonfire (and is the best route to return to Twin Princes if you die I learned after numerous times trying to dash down that stupid bridge

[2020-04-12 04:00] #223 closed, assigned to nobody

[2020-04-12 04:01] Skitz470 commented on #223
My apologies, I misread the list, the elevator referring to Grand Archives shortcut is correct (the elevator i was referring to is mentioned about 10 lines later once you actually go past the barricades)

[2020-05-24 23:13] #151 closed, assigned to nobody

[2020-07-08 02:36] Eric-rush opened #227 "Dark Souls 3"

[2020-07-08 13:14] #227 closed, assigned to nobody

[2020-08-12 21:24] SkyggeorSkov opened #228 "Add Option to deselect everything and Select only specific Items/Item types (Like the ones you need for a specific build+Upgrades+Estus))"
Dunno if im just too stupid to find it among the available options, if so help on finding it is appreciated :)

[2020-08-12 21:50] ZKjellberg commented on #228
![image](https://user-images.githubusercontent.com/143709/90071877-61290380-dcc4-11ea-9583-3b18e2892994.png)

Click the toggles at the top to limit visibility to the desired categories.

[2020-08-12 21:50] #228 closed, assigned to nobody

[2020-10-27 06:35] StephenRE13 opened #229 "Dark souls 3"

[2020-10-27 13:00] #229 closed, assigned to nobody

[2020-11-28 16:16] mohayta opened #230 "Litle fix"
https://i.imgur.com/CrC1PRQ.png

You dont need to use the elevator twice. You can simply take the ember then jump to the ring..

[2020-11-29 23:11] ZKjellberg commented on #230
I'm guessing the original contribution split that so the user you validate they got both items in case one was missed.

Would you recommend different wording to consolidate? I'm guessing some users wouldn't worry about the ember and just mark it off. Alternative would be to change wording the order to have the ember first and then suggest the user drop down to the ring from there.

[2020-12-01 03:59] mohayta commented on #230
Actually the original is correct and how it should be done. There is no need to take the ember first then jump to the ring. I've mistaken the ember's direction as a dead end at that time. It actually leads to an important area which most players are going to go anyway so ember can be left for the second turn from the elevator. Im sorry for the inconvenience.

[2020-12-01 13:20] ZKjellberg commented on #230
No worries. Always welcome feedback. Thanks for confirming the original wording is efficient. 👍

[2020-12-01 13:20] #230 closed, assigned to nobody

[2021-04-13 03:45] BwdYeti commented on #160
I made a branch for my own use with everything missable tagged, and have used it for multiple runs through the game. I don't know if you would be interested in merging it, or if you prefer some other solution.
https://github.com/BwdYeti/dark-souls-3-cheat-sheet
https://bwdyeti.github.io/dark-souls-3-cheat-sheet/

[2021-04-14 15:22] ZKjellberg commented on #160
Changes look good. Wondering if there is a better term for this, but missable seems appropriate.

Please submit a PR for this and we can explore path forward.

[2021-04-14 18:37] #160 closed, assigned to nobody

[2022-02-28 10:48] Legislate3030 opened #237 "Elden Ring Cheat Sheet"
Hi! I loved your DS3 cheat sheet and was wondering if we can expect one for Elden Ring, too?

[2022-02-28 13:01] ZKjellberg commented on #237
I am not planning to create an Elden Ring guide. People are welcome to fork and create their own if they wish.

If you do, I recommend looking at the Sekiro cheat sheet, which is a slimmed down starter that I abandoned:
https://github.com/ZKjellberg/sekiro-cheat-sheet

[2022-02-28 13:01] #237 closed, assigned to nobody

[2022-03-29 18:36] ZKjellberg commented on #237
Check out: https://github.com/Roundtable-Hold/tracker

This fork has done an excellent job rebuilding the guide for Elden Ring. There are a few others forks, but this one is quite active and doing a fantastic job.